<section class="ph-thumbnail-sec ph-bg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ph-viewall-blog">
          <h5>Related Posts</h5>
          <div class="ph-explore-more mb-3">
            <%#= link_to blog_path do %>
              <!-- View All <i class="fa-solid fa-arrow-right ms-2"></i> -->
            <%# end %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="swiper ph-myswiper-slide">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <%= image_tag "blog10-inspiring-web-dev-trends.webp" %>
                </div>
                <div class="ph-thumbnail-content">
                  <h6>Jan 20, 2023</h6>
                  <p>10 Inspiring Web Development Trends Of 2023 Every CTO Should Be Aware Of</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <%= image_tag "blog-remote-dev.webp" %>
                </div>
                <div class="ph-thumbnail-content">
                  <h6>Jan 17, 2023</h6>
                  <p>Why You Should Hire A Dedicated Remote Developer In 2023</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <%= image_tag "blog-mvp.webp" %>
                </div>
                <div class="ph-thumbnail-content">
                  <h6>Jan 11, 2023</h6>
                  <p>How To Find The Right MVP Developer For Your Startup Idea</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>