<title>Protonshub | Casestudy Detail</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Top ourTeam Banner start -->
  <section class="ph-casestudy-banner">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-9 col-xl-10 col-md-10 col-sm-12 mx-auto">
            <div class="ph-heading-title text-center">
              <div class="ph-case-logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="73" viewBox="0 0 72 73" fill="none">
                  <path d="M11.323 68.4713C10.1258 68.4713 9.09972 68.2575 8.24462 67.83C7.40174 67.3902 6.67491 66.755 6.06412 65.9244L7.78653 63.9821C8.3851 64.8127 8.97756 65.3808 9.56391 65.6861C10.1625 65.9793 10.8038 66.1259 11.4879 66.1259C11.8666 66.1259 12.2025 66.0709 12.4957 65.961C12.8011 65.8511 13.0393 65.6984 13.2103 65.5029C13.3935 65.3075 13.4851 65.0815 13.4851 64.8249C13.4851 64.6295 13.4424 64.4524 13.3569 64.2936C13.2714 64.1225 13.1492 63.976 12.9904 63.8538C12.8316 63.7194 12.6423 63.6034 12.4224 63.5057C12.2025 63.3957 11.9582 63.3041 11.6894 63.2308C11.4207 63.1575 11.1275 63.0903 10.8099 63.0292C10.1258 62.8827 9.52727 62.6933 9.01421 62.4612C8.50115 62.2291 8.0736 61.9482 7.73156 61.6183C7.38952 61.2885 7.13299 60.9098 6.96197 60.4823C6.80317 60.0425 6.72377 59.5539 6.72377 59.0164C6.72377 58.259 6.93754 57.5994 7.36509 57.0375C7.79264 56.4633 8.36067 56.0174 9.06918 55.6998C9.77769 55.37 10.5595 55.2051 11.4146 55.2051C12.5751 55.2051 13.5279 55.4006 14.2731 55.7915C15.0304 56.1824 15.6351 56.7321 16.0871 57.4406L14.328 59.163C13.9493 58.6377 13.5157 58.2407 13.0271 57.972C12.5384 57.7032 12.0132 57.5688 11.4512 57.5688C11.0603 57.5688 10.7122 57.6238 10.4068 57.7337C10.1136 57.8315 9.88763 57.9842 9.72882 58.1918C9.57002 58.3873 9.49062 58.6194 9.49062 58.8881C9.49062 59.108 9.54559 59.3035 9.65553 59.4745C9.76547 59.6455 9.91817 59.7982 10.1136 59.9326C10.3213 60.0547 10.5717 60.1647 10.8649 60.2624C11.1581 60.3601 11.4818 60.4395 11.836 60.5006C12.5079 60.635 13.1126 60.8182 13.6501 61.0503C14.1875 61.2702 14.6456 61.5389 15.0243 61.8565C15.4152 62.1741 15.7145 62.5406 15.9222 62.9559C16.1298 63.3713 16.2337 63.8355 16.2337 64.3485C16.2337 65.2158 16.026 65.9549 15.6107 66.5657C15.1953 67.1765 14.6212 67.6468 13.8883 67.9766C13.1553 68.3064 12.3002 68.4713 11.323 68.4713ZM21.38 68.2881V57.9353H17.6786V55.4616H27.9765V57.9353H24.1285V68.2881H21.38ZM27.8134 68.2881L32.8524 55.4616H35.3077L40.31 68.2881H37.5065L34.9046 61.3801C34.8313 61.1725 34.7397 60.9159 34.6298 60.6105C34.532 60.3051 34.4282 59.9814 34.3183 59.6394C34.2083 59.2974 34.1045 58.9736 34.0068 58.6682C33.9212 58.3506 33.848 58.0941 33.7869 57.8987L34.2816 57.8803C34.2083 58.1491 34.1228 58.4361 34.0251 58.7415C33.9396 59.0347 33.8418 59.3401 33.7319 59.6577C33.6342 59.9753 33.5303 60.2807 33.4204 60.5739C33.3227 60.8671 33.225 61.148 33.1272 61.4168L30.5436 68.2881H27.8134ZM30.1588 65.5945L31.075 63.3591H36.9202L37.8547 65.5945H30.1588ZM47.6525 68.4713C46.6508 68.4713 45.7407 68.3064 44.9223 67.9766C44.1038 67.6468 43.3953 67.1826 42.7967 66.584C42.1982 65.9854 41.734 65.283 41.4042 64.4768C41.0865 63.6706 40.9277 62.7971 40.9277 61.8565C40.9277 60.9159 41.0927 60.0425 41.4225 59.2363C41.7645 58.43 42.2409 57.7337 42.8517 57.1474C43.4747 56.5488 44.2015 56.0846 45.0322 55.7548C45.8629 55.425 46.7729 55.2601 47.7624 55.2601C48.4465 55.2601 49.1 55.3517 49.723 55.5349C50.346 55.7182 50.9141 55.9686 51.4271 56.2862C51.9402 56.6038 52.3616 56.9703 52.6914 57.3856L50.9874 59.1813C50.5109 58.7293 50.004 58.3812 49.4665 58.1369C48.929 57.8803 48.3488 57.7521 47.7258 57.7521C47.1516 57.7521 46.6202 57.8559 46.1316 58.0636C45.6552 58.259 45.2338 58.5461 44.8673 58.9248C44.513 59.2912 44.2321 59.7249 44.0244 60.2257C43.829 60.7266 43.7312 61.2702 43.7312 61.8565C43.7312 62.4307 43.8351 62.9682 44.0427 63.469C44.2626 63.9698 44.5558 64.4096 44.9223 64.7883C45.301 65.1548 45.7407 65.4479 46.2416 65.6678C46.7424 65.8755 47.2799 65.9793 47.854 65.9793C48.2571 65.9793 48.6358 65.9182 48.9901 65.7961C49.3566 65.6617 49.6742 65.4846 49.9429 65.2647C50.2239 65.0448 50.4438 64.7883 50.6026 64.4951C50.7614 64.2019 50.8408 63.8843 50.8408 63.5423V63.1025L51.1889 63.6156H47.5609V61.3068H53.461C53.4855 61.4412 53.5038 61.6061 53.516 61.8016C53.5282 61.997 53.5343 62.1864 53.5343 62.3696C53.5465 62.5528 53.5526 62.7055 53.5526 62.8277C53.5526 63.6583 53.4061 64.4218 53.1129 65.1181C52.8197 65.8022 52.4044 66.3947 51.8669 66.8955C51.3294 67.3963 50.7003 67.7872 49.9796 68.0682C49.2588 68.3369 48.4831 68.4713 47.6525 68.4713ZM55.9964 68.2881V55.4616H64.6451V57.8803H58.69V65.8694H64.7734V68.2881H55.9964ZM57.279 62.9193V60.5739H63.7656V62.9193H57.279Z" fill="white"/>
                  <rect width="71.4617" height="48.0483" rx="24.0242" fill="#191919"/>
                  <mask id="mask0_1957_24369" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="72" height="49">
                    <rect width="71.4617" height="48.0483" rx="24.0242" fill="#D9D9D9"/>
                  </mask>
                  <g mask="url(#mask0_1957_24369)">
                    <path d="M16.7585 50.6749C23.9244 36.4425 29.0142 15.5741 31.152 -0.509869C25.5254 -3.09957 -0.272861 1.70108 -1.65586 23.6568C-2.76225 41.2214 10.3037 48.8431 16.7585 50.6749Z" fill="#7A0600"/>
                    <path d="M12.3647 49.4278C18.6301 42.8559 26.8757 14.9634 30.9476 -0.000769275C25.5688 -3.07213 -0.322964 -0.846657 -3.61881 20.9043C-6.25549 38.3051 6.09462 47.0391 12.3647 49.4278Z" fill="#C60C0C"/>
                    <path d="M3.53237 44.9024C10.2909 37.5592 22.3823 11.685 28.5145 -0.899889C23.6008 -4.67088 -2.23525 -6.62661 -8.44422 14.4783C-13.4114 31.3622 -2.35681 41.6871 3.53237 44.9024Z" fill="#E10D37"/>
                    <path d="M55.9603 50.6749C48.7944 36.4425 43.7045 15.5741 41.5668 -0.509869C47.1934 -3.09957 72.9916 1.70108 74.3746 23.6568C75.481 41.2214 62.4151 48.8431 55.9603 50.6749Z" fill="#7A0600"/>
                    <path d="M60.354 49.4278C54.0886 42.8559 45.843 14.9634 41.7711 -0.000769275C47.15 -3.07213 73.0417 -0.846657 76.3376 20.9043C78.9742 38.3051 66.6241 47.0391 60.354 49.4278Z" fill="#C60C0C"/>
                    <path d="M69.1864 44.9024C62.4279 37.5592 50.3364 11.685 44.2042 -0.899889C49.1179 -4.67088 74.954 -6.62661 81.163 14.4783C86.1301 31.3622 75.0756 41.6871 69.1864 44.9024Z" fill="#E10D37"/>
                  </g>
                </svg>
              </div>
              <p>We appreciate your interest in Protonshub We offer Web/Mobile application development, Maintenance of the existing platform, Custom software solutions, UI/UX expertise, Web3 services, Blockchain consultation, and anything around tech really. Tell us about it!</p>
              <ul class="ph-casestudy-content">
                <li>
                  <span>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.0026 0.99707C5.57427 0.99707 0.335938 6.2354 0.335938 12.6637C0.335938 19.0921 5.57427 24.3304 12.0026 24.3304C18.4309 24.3304 23.6693 19.0921 23.6693 12.6637C23.6693 6.2354 18.4309 0.99707 12.0026 0.99707ZM17.0776 16.8287C16.9143 17.1087 16.6226 17.2604 16.3193 17.2604C16.1676 17.2604 16.0159 17.2254 15.8759 17.1321L12.2593 14.9737C11.3609 14.4371 10.6959 13.2587 10.6959 12.2204V7.43707C10.6959 6.95874 11.0926 6.56207 11.5709 6.56207C12.0493 6.56207 12.4459 6.95874 12.4459 7.43707V12.2204C12.4459 12.6404 12.7959 13.2587 13.1576 13.4687L16.7743 15.6271C17.1943 15.8721 17.3343 16.4087 17.0776 16.8287Z" fill="#75B94A" />
                    </svg>
                  </span>
                  <p>1 Years, 1 month Duration</p>
                </li>
                <li>
                  <span>
                    <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.45431 3.60084H14.9681V6.23228C14.9681 6.81637 15.4428 7.29109 16.0269 7.29109H18.6584V14.0266H17.6918L17.3896 15.9152C17.2877 15.9535 17.1871 15.9953 17.0877 16.0405L15.5386 14.9187L13.9772 16.48H4.59742C4.39352 16.48 4.22815 16.6454 4.22815 16.8493C4.22815 17.0532 4.39352 17.2186 4.59742 17.2186H13.5638L14.5486 18.5789C14.5037 18.6783 14.4621 18.7787 14.4233 18.8809L12.5347 19.1834V19.5616H4.5969C4.393 19.5616 4.22762 19.727 4.22762 19.9309C4.22762 20.1348 4.393 20.3002 4.5969 20.3002H12.5347V22.169L14.4233 22.4711C14.4451 22.5287 14.4677 22.5859 14.4916 22.6425L4.59735 22.6424C4.39345 22.6424 4.22807 22.8077 4.22807 23.0116C4.22807 23.2155 4.39345 23.3809 4.59735 23.3809H14.1081L13.4267 24.322L15.5379 26.4332L17.0871 25.3114C17.1865 25.3563 17.2869 25.398 17.389 25.4367L17.5587 26.4972H1.45388C1.19959 26.4972 0.992188 26.2898 0.992188 26.0356V4.06294C0.992188 3.80865 1.1994 3.60125 1.45388 3.60125L1.45431 3.60084ZM18.5657 0.87094V3.46228C18.5657 3.58952 18.6694 3.69303 18.7965 3.69303H21.3878C21.3654 3.644 21.3337 3.59886 21.2925 3.558L18.7007 0.966266C18.6599 0.925214 18.6147 0.893308 18.5657 0.87093L18.5657 0.87094ZM4.22361 0.831055C3.96932 0.831055 3.76192 1.03846 3.76192 1.29275V2.77318H15.6047C15.9514 2.77318 16.2714 2.90568 16.5164 3.15082L19.1083 5.74256C19.3535 5.9877 19.486 6.30777 19.486 6.65428V14.0268H20.6773L20.9794 15.9154C21.0814 15.9537 21.182 15.9956 21.2814 16.0407L21.4279 15.9347V4.52126H18.7965C18.2124 4.52126 17.7376 4.04653 17.7376 3.46245V0.831413L4.22361 0.831055ZM15.7959 3.6409V6.23224C15.7959 6.35948 15.8996 6.46299 16.0267 6.46299H18.618C18.5956 6.41396 18.5639 6.36882 18.5227 6.32796L15.9309 3.73623C15.8901 3.69498 15.8449 3.66327 15.7959 3.64089L15.7959 3.6409ZM4.59717 11.0558H15.0533C15.2572 11.0558 15.4226 10.8904 15.4226 10.6865C15.4226 10.4826 15.2572 10.3172 15.0533 10.3172H4.59717C4.39327 10.3172 4.22789 10.4826 4.22789 10.6865C4.22789 10.8904 4.39327 11.0558 4.59717 11.0558V11.0558ZM4.59717 7.97451H12.1027C12.3066 7.97451 12.472 7.80913 12.472 7.60523C12.472 7.40133 12.3066 7.23595 12.1027 7.23595H4.59717C4.39327 7.23595 4.22789 7.40133 4.22789 7.60523C4.22789 7.80913 4.39327 7.97451 4.59717 7.97451V7.97451ZM4.59717 14.1372H15.0533C15.2572 14.1372 15.4226 13.9718 15.4226 13.7679C15.4226 13.564 15.2572 13.3986 15.0533 13.3986H4.59717C4.39327 13.3986 4.22789 13.564 4.22789 13.7679C4.22789 13.9718 4.39327 14.1372 4.59717 14.1372V14.1372ZM20.2422 16.5494L19.9708 14.8546H18.397L18.1256 16.5494C17.7302 16.6506 17.3569 16.8072 17.0144 17.0101L15.6235 16.003L14.5108 17.1157L15.5179 18.5067C15.3147 18.8489 15.1585 19.2223 15.0573 19.6178L13.3623 19.8892V21.4631L15.0573 21.7345C15.1585 22.1298 15.3151 22.5032 15.5181 22.8456L14.511 24.2366L15.6237 25.3493L17.0146 24.3422C17.3569 24.5453 17.7302 24.7019 18.1258 24.8029L18.3972 26.4977H19.971L20.2424 24.8027C20.6378 24.7015 21.0112 24.5449 21.3536 24.342L22.7445 25.3491L23.8572 24.2364L22.8502 22.8454C23.0533 22.5032 23.2099 22.1298 23.3109 21.7343L25.0057 21.4629V19.889L23.3107 19.6176C23.2095 19.2223 23.0529 18.8489 22.85 18.5065L23.857 17.1155L22.7443 16.0028L21.3534 17.0099C21.0108 16.807 20.6378 16.6504 20.2422 16.5494L20.2422 16.5494ZM19.1842 18.3504C17.8999 18.3504 16.859 19.3915 16.859 20.6756C16.859 21.9599 17.9001 23.0009 19.1842 23.0009C20.4685 23.0009 21.5098 21.9598 21.5098 20.6756C21.5096 19.3916 20.4683 18.3504 19.1842 18.3504V18.3504Z"
                      fill="#75B94A" />
                    </svg>
                  </span>
                  <p>Angular JS, Ruby on Rails</p>
                </li>
                <li>
                  <span>
                    <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.3871 4.11641C16.3871 5.93099 14.9163 7.40177 13.1018 7.40177C11.2872 7.40177 9.81641 5.93099 9.81641 4.11641C9.81641 2.30184 11.2872 0.831055 13.1018 0.831055C14.9163 0.831055 16.3871 2.30184 16.3871 4.11641Z" fill="#75B94A" />
                      <path d="M16.1432 8.42773C17.3 8.42773 18.2377 9.28496 18.2377 10.3443V11.3024H7.76562V10.3443C7.76562 9.28578 8.70333 8.42773 9.86015 8.42773H16.1432Z" fill="#75B94A" />
                      <path d="M8.79116 18.8996C8.79116 20.714 7.36611 22.185 5.60847 22.185C3.8506 22.185 2.42578 20.714 2.42578 18.8996C2.42578 17.085 3.8506 15.6143 5.60847 15.6143C7.36611 15.6143 8.79116 17.085 8.79116 18.8996Z" fill="#75B94A" />
                      <path d="M8.8744 23.2119C10.0767 23.2119 11.0507 24.1914 11.0507 25.4023V26.4973H0.167969V25.4023C0.167969 24.1925 1.14249 23.2119 2.34475 23.2119H8.8744Z" fill="#75B94A" />
                      <path d="M17.2109 6.43103C19.1668 7.76511 20.4534 10.0265 20.4534 12.5937C20.4534 13.1469 20.389 13.6845 20.2756 14.2037C20.3359 14.2006 20.3923 14.1848 20.4534 14.1848C21.125 14.1848 21.7614 14.3317 22.34 14.589C22.4751 13.946 22.5496 13.2785 22.5496 12.5937C22.5496 9.05283 20.641 5.97019 17.8123 4.32227C17.7779 5.08764 17.5621 5.8004 17.211 6.43144L17.2109 6.43103Z" fill="#75B94A" />
                      <path d="M5.54931 14.185C5.61072 14.185 5.66686 14.2006 5.72717 14.2039C5.61357 13.685 5.54931 13.1474 5.54931 12.5941C5.54931 10.0277 6.83579 7.76542 8.79183 6.43212C8.43962 5.80154 8.22467 5.08847 8.19093 4.32227C5.36179 5.97024 3.45312 9.05333 3.45312 12.5939C3.45312 13.2784 3.5266 13.9456 3.66279 14.589C4.24135 14.3318 4.87779 14.1848 5.54933 14.1848L5.54931 14.185Z" fill="#75B94A" />
                      <path d="M15.6965 19.5156C14.8611 19.8489 13.9536 20.0384 13.0015 20.0384C12.0495 20.0384 11.1431 19.8489 10.3066 19.5165C10.223 20.2545 9.98789 20.943 9.61328 21.5414C10.6664 21.951 11.8063 22.185 13.0015 22.185C14.1967 22.185 15.3354 21.951 16.3893 21.5414C16.0152 20.9431 15.7802 20.2545 15.6965 19.5157V19.5156Z" fill="#75B94A" />
                      <path d="M23.5763 18.8996C23.5763 20.714 22.1515 22.185 20.3936 22.185C18.636 22.185 17.2109 20.714 17.2109 18.8996C17.2109 17.085 18.636 15.6143 20.3936 15.6143C22.1515 15.6143 23.5763 17.085 23.5763 18.8996Z" fill="#75B94A" />
                      <path d="M23.7407 23.2119C24.8976 23.2119 25.8354 24.1914 25.8354 25.4023V26.4973H15.3633V25.4023C15.3633 24.1925 16.3008 23.2119 17.4575 23.2119H23.7407Z" fill="#75B94A" />
                    </svg>
                  </span>
                  <p>3 Engineers on Project</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OurTeam Banner End -->

  <section class="ph-top-logo-sec ph-spacer-top">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-social-icon mb-0">
            <ul class="ph-casestudy-detail">
              <li>
                <span>
                  <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8818 4.01569H38.3245C38.4959 4.01569 38.6362 4.15203 38.6362 4.32337V37.1456H40.8953V2.66406H19.2375L17.8818 4.01569ZM16.9857 35.5874L18.5671 32.8488L18.5595 32.8452L18.5518 32.8412L18.5361 32.8372L18.5285 32.8332H18.5208V32.8292H18.5132L18.5052 32.8251L18.4975 32.8211L18.4822 32.8175L18.4745 32.8135L18.4665 32.8095L18.4435 32.7974L18.4359 32.7938H18.4202L18.4049 32.7858L18.3969 32.7818L18.3816 32.7778L18.3663 32.7697L18.3582 32.7661L18.3353 32.7541H18.3196L18.2966 32.742V32.7384H18.289L18.281 32.7344L18.2656 32.7304L18.2503 32.7223L18.2423 32.7183L18.2347 32.7143L18.227 32.7107L18.2193 32.7067L18.2037 32.7027L18.1884 32.6946H18.1807V32.6906L18.1727 32.6866L18.1574 32.683L18.1421 32.675L18.134 32.6709L18.1187 32.6629L18.1034 32.6589L18.0954 32.6553L18.0648 32.6392L18.0491 32.6352L18.0415 32.6316L18.0261 32.6236L18.0181 32.6195L18.0028 32.6155V32.6115L17.9871 32.6075L17.9715 32.5999L17.9638 32.5958L17.9481 32.5878L17.9325 32.5802L17.9171 32.5762L17.9015 32.5681L17.8862 32.5641L17.8785 32.5565L17.8628 32.5488L17.8475 32.5408L17.8318 32.5368L17.8165 32.5291L17.8008 32.5211L17.7932 32.5171L17.7779 32.5094L17.7622 32.5018L17.7469 32.4938L17.7316 32.4898L17.7236 32.4817L17.6929 32.4664L17.6773 32.4584L17.6616 32.4544L17.6539 32.4467L17.6383 32.4387H17.6306L17.6229 32.4307L17.6073 32.4267L17.5916 32.419L17.5839 32.411L17.5526 32.3957L17.5369 32.3877L17.5293 32.3837H17.5216L17.5139 32.3757L17.4983 32.368L17.4826 32.36L17.4673 32.3523L17.4516 32.3443L17.444 32.3407L17.4283 32.333L17.4126 32.325L17.3973 32.317L17.3816 32.3093L17.374 32.3013L17.3587 32.2936L17.343 32.2856L17.3277 32.278L17.32 32.2699L17.312 32.2663L17.3043 32.2623L17.289 32.2546L17.2733 32.247L17.258 32.2393L17.2504 32.2313L17.2347 32.2273L17.2194 32.2193L17.2037 32.2116V32.2076L17.1884 32.1996L17.1808 32.1916L17.1651 32.1879L17.1345 32.1719L17.1188 32.1602L17.1111 32.1522L17.0958 32.1482L17.0564 32.1208L17.0411 32.1128L17.0258 32.1052L17.0101 32.0971L17.0025 32.0891L16.9872 32.0815L16.9715 32.0738L16.9558 32.0658L16.9482 32.0541L16.9325 32.0465L16.9172 32.0388L16.9015 32.0312L16.8858 32.0231V32.0191L16.8782 32.0151L16.8468 31.9998L16.8311 31.9881L16.8235 31.9801L16.8082 31.9725L16.7925 31.9644L16.7849 31.9568H16.7772L16.7695 31.9491L16.7539 31.9375L16.7305 31.9218L16.7149 31.9138L16.6995 31.9061L16.6839 31.8945L16.6759 31.8864L16.6605 31.8784L16.6368 31.8631L16.6215 31.8514L16.5982 31.8361L16.5829 31.8281L16.5752 31.8205L16.5672 31.8168L16.4815 31.7585L16.4739 31.7545L16.3726 31.6881V31.6845L16.2479 31.5948L16.2089 31.5675L16.2012 31.5634L16.1932 31.5558L16.1855 31.5518L16.1779 31.5441L16.1702 31.5405L16.1546 31.5248L16.1469 31.5208L16.1392 31.5131L16.1239 31.5051L16.1159 31.4971L16.1083 31.4891L16.1006 31.4854L16.0929 31.4774L16.0849 31.4734L16.0773 31.4694V31.4654L16.0696 31.4614L16.062 31.4533L16.0543 31.4497L16.0463 31.4417L16.0386 31.4377L16.0233 31.426L16.0076 31.4103L16 31.4063L15.9923 31.3987L15.9847 31.3947L15.977 31.387L15.969 31.383L15.9613 31.3753L15.9457 31.3637L15.938 31.3597L15.9223 31.344L15.9147 31.34L15.907 31.332L15.899 31.3243L15.8837 31.3163L15.8684 31.3002L15.8604 31.2966L15.8527 31.2886L15.8451 31.2846L15.8374 31.2765L15.8297 31.2689L15.8217 31.2649L15.8064 31.2488L15.7988 31.2448L15.7911 31.2412L15.7831 31.2332L15.7754 31.2251L15.7678 31.2175V31.2138L15.7601 31.2098L14.1787 33.9483L14.8484 34.3377L16.9857 35.5874ZM16.4561 39.2959C16.4637 39.2766 16.4717 39.2649 16.4794 39.2492L16.4874 39.2416L17.4221 37.6248C17.5468 37.4028 17.5701 37.1494 17.5082 36.9198C17.4535 36.6901 17.2975 36.4794 17.0795 36.3551L16.9471 36.2811V36.2771L13.5889 34.337L13.5813 34.3333L13.5736 34.3293L13.4413 34.2516C13.2229 34.1306 12.9739 34.1073 12.7479 34.1696C12.5139 34.228 12.3116 34.38 12.1789 34.598L11.6025 35.607L11.5948 35.6187L7.23193 43.1754C7.0996 43.3974 7.0759 43.6508 7.13861 43.8805C7.20058 44.1105 7.34859 44.3208 7.56695 44.4455L7.58262 44.4532L11.2131 46.5486C11.4311 46.6696 11.6805 46.6929 11.9061 46.6306C12.1245 46.5723 12.3268 46.4319 12.4595 46.2176L16.4561 39.2959ZM11.5397 43.0314C11.4777 42.8094 11.3374 42.6067 11.119 42.482C10.9087 42.3573 10.6593 42.334 10.4337 42.3923C10.2153 42.4547 10.013 42.5987 9.88831 42.813C9.76363 43.0274 9.7403 43.2764 9.79498 43.4984C9.85732 43.7244 10.0053 43.9231 10.2157 44.0477C10.434 44.1724 10.683 44.1958 10.901 44.1371C11.127 44.0787 11.3297 43.9307 11.454 43.7164C11.5787 43.5027 11.6024 43.2534 11.5397 43.0314ZM11.4307 41.9524C11.7894 42.1627 12.0388 42.4977 12.1398 42.8718C12.2335 43.2494 12.1944 43.6625 11.9841 44.0248C11.7738 44.3871 11.4391 44.6325 11.0651 44.7338C10.691 44.8352 10.2784 44.7922 9.91205 44.5818C9.54567 44.3715 9.30435 44.0365 9.203 43.6584C9.10165 43.2844 9.14868 42.8714 9.35866 42.5054C9.56135 42.143 9.90403 41.8977 10.2781 41.8004C10.6521 41.6994 11.0647 41.742 11.4307 41.9524ZM16.479 23.9641H21.7694V18.6781C21.7694 18.5067 21.9094 18.3704 22.0811 18.3704C23.7091 18.3704 25.182 19.0284 26.2489 20.0958C27.324 21.1671 27.9783 22.6436 27.9783 24.2717C27.9783 25.9037 27.324 27.3802 26.2489 28.4476C25.1819 29.515 23.7091 30.1773 22.0811 30.1773C20.445 30.1773 18.9725 29.515 17.9052 28.4476C16.8381 27.3801 16.1758 25.9081 16.1758 24.2837V24.2721C16.1754 24.1044 16.3081 23.964 16.4791 23.964L16.479 23.9641ZM22.081 24.5834H16.799C16.8767 25.9195 17.4534 27.1233 18.3414 28.0112C19.2918 28.9697 20.6162 29.5616 22.0809 29.5616C23.5376 29.5616 24.8621 28.9693 25.8128 28.0112C26.7708 27.0568 27.3632 25.7325 27.3632 24.2717C27.3632 22.815 26.7711 21.4906 25.8128 20.5362C24.9244 19.6442 23.7246 19.0719 22.3846 18.9939V24.2718C22.3846 24.4432 22.2442 24.5835 22.0809 24.5835L22.081 24.5834ZM21.1149 17.8754L21.0292 22.5227C21.0369 22.6863 20.9122 22.8303 20.7409 22.838L16.09 23.0873C15.9183 23.095 15.7703 22.9667 15.7626 22.795C15.7549 22.682 15.7549 22.5653 15.7549 22.4443C15.7863 21.0692 16.3626 19.8385 17.2744 18.9581C18.1934 18.0737 19.4398 17.5404 20.8112 17.5638C20.9825 17.5682 21.1148 17.7081 21.1148 17.8755L21.1149 17.8754ZM20.4215 22.2383L20.4915 18.1834C19.4164 18.2418 18.4351 18.6938 17.7027 19.3988C16.9003 20.1742 16.394 21.2529 16.3703 22.4527L20.4215 22.2383ZM23.9117 35.5725H22.5173V36.9628H23.9117V35.5725ZM22.2052 34.9571H24.2154C24.3867 34.9571 24.527 35.0935 24.527 35.2652V37.2713C24.527 37.4426 24.3867 37.583 24.2154 37.583H22.2052C22.0416 37.583 21.9016 37.4426 21.9016 37.2713V35.2652C21.9016 35.0935 22.0419 34.9571 22.2052 34.9571ZM25.8671 36.1335C25.6958 36.1335 25.5554 35.9971 25.5554 35.8254C25.5554 35.6581 25.6954 35.5178 25.8671 35.5178H29.8403C30.0116 35.5178 30.144 35.6581 30.144 35.8254C30.144 35.9971 30.0116 36.1335 29.8403 36.1335H25.8671ZM25.8671 37.0996C25.6958 37.0996 25.5554 36.9596 25.5554 36.7919C25.5554 36.6206 25.6954 36.4802 25.8671 36.4802H34.6163C34.7876 36.4802 34.928 36.6206 34.928 36.7919C34.928 36.9596 34.7876 37.0996 34.6163 37.0996H25.8671ZM35.598 13.6107C35.7617 13.6107 35.9021 13.7511 35.9021 13.9184C35.9021 14.0898 35.7617 14.2301 35.598 14.2301H30.2924C30.121 14.2301 29.9887 14.0901 29.9887 13.9184C29.9887 13.7511 30.1214 13.6107 30.2924 13.6107H35.598ZM35.598 15.0988C35.7617 15.0988 35.9021 15.2351 35.9021 15.4065C35.9021 15.5778 35.7617 15.7142 35.598 15.7142H30.2924C30.121 15.7142 29.9887 15.5778 29.9887 15.4065C29.9887 15.2351 30.1214 15.0988 30.2924 15.0988H35.598ZM35.598 16.5828C35.7617 16.5828 35.9021 16.7232 35.9021 16.8945C35.9021 17.0622 35.7617 17.2022 35.598 17.2022H29.3111C29.1394 17.2022 28.9994 17.0622 28.9994 16.8945C28.9994 16.7232 29.1394 16.5828 29.3111 16.5828H35.598ZM29.124 18.6239C29.0774 18.5889 29.0384 18.5383 29.015 18.4836C28.322 17.5485 27.418 16.7385 26.3429 16.1191C24.2081 14.8844 21.7616 14.6311 19.5568 15.2231C17.3443 15.8151 15.3656 17.2485 14.1268 19.3796L14.1191 19.3953C12.8804 21.5338 12.6315 23.9762 13.2231 26.1891C13.6594 27.8211 14.5631 29.3326 15.8642 30.509L15.8719 30.513C16.0979 30.7233 16.3473 30.9224 16.6043 31.109L16.768 31.226L16.7836 31.2377L16.854 31.2843L16.8697 31.296L16.9473 31.3427L16.955 31.3507L17.0173 31.3933L17.025 31.4014L17.0403 31.4094L17.056 31.417L17.0636 31.4247L17.0789 31.4327L17.0946 31.4407V31.4444L17.1023 31.4484L17.1176 31.456L17.1256 31.4637L17.1562 31.4797L17.1642 31.4874L17.1799 31.4954L17.1876 31.5031H17.1952L17.2032 31.5107L17.2189 31.5184L17.2266 31.5264L17.2422 31.5344L17.2499 31.5424L17.2652 31.5501L17.2809 31.5578L17.2885 31.5618V31.5658L17.3039 31.5698L17.3195 31.5774L17.3272 31.5855L17.3425 31.5931L17.3505 31.6008L17.3658 31.6088L17.3815 31.6168L17.3895 31.6245L17.4048 31.6321L17.4205 31.6361L17.4285 31.6438L17.4438 31.6518L17.4595 31.6598L17.4672 31.6679L17.4825 31.6755L17.4901 31.6792V31.6832L17.5058 31.6912L17.5211 31.6988L17.5368 31.7028L17.5445 31.7105L17.5601 31.7185L17.5758 31.7262L17.5835 31.7342L17.5988 31.7422L17.6145 31.7462L17.6221 31.7539L17.6374 31.7619L17.6531 31.7696L17.6607 31.7776L17.6761 31.7852L17.6917 31.7892V31.7933L17.7147 31.8053L17.7304 31.8089L17.738 31.817L17.7533 31.825L17.769 31.8326L17.792 31.8447L17.8077 31.8523L17.831 31.864L17.8467 31.872L17.862 31.88L17.87 31.884L17.8857 31.8917L17.8933 31.8997H17.901L17.9167 31.9037L17.9243 31.9117L17.94 31.9194L17.948 31.927L17.9633 31.9311L17.979 31.9391L17.9947 31.9427V31.9467L18.0023 31.9507L18.018 31.9588L18.0333 31.9628L18.049 31.9704L18.057 31.9744L18.0723 31.9825L18.08 31.9901L18.0957 31.9938L18.111 32.0018L18.1263 32.0094L18.142 32.0134L18.1496 32.0211L18.1649 32.0251L18.1729 32.0331L18.1883 32.0371L18.2036 32.0452L18.2192 32.0528L18.2269 32.0568L18.2426 32.0608L18.2579 32.0685L18.2732 32.0725L18.2812 32.0802L18.2965 32.0882H18.3042L18.3118 32.0922L18.3199 32.0958L18.3355 32.1035L18.3508 32.1075L18.3665 32.1155L18.3742 32.1195L18.3895 32.1272L18.4052 32.1312L18.4205 32.1392L18.4285 32.1432L18.4442 32.1509L18.4595 32.1549L18.4828 32.1666L18.4981 32.1706L18.5528 32.1939L18.5681 32.1979L18.5838 32.2056C18.7551 32.2719 18.9345 32.3342 19.1058 32.3926L19.1292 32.4006C20.7966 32.9379 22.5413 32.9653 24.1778 32.5213C26.3903 31.9292 28.377 30.4918 29.6155 28.3534C30.8465 26.2109 31.1035 23.7725 30.5039 21.56C30.2305 20.5094 29.7627 19.5124 29.124 18.6239ZM35.598 19.555C35.7617 19.555 35.9021 19.6954 35.9021 19.8667C35.9021 20.0344 35.7617 20.1747 35.598 20.1747H30.6897C30.8611 20.5717 31.0014 20.9811 31.1104 21.3937C31.7415 23.7582 31.4768 26.364 30.152 28.6508C28.8356 30.9413 26.7088 32.4764 24.348 33.1111C22.6733 33.5591 20.8815 33.5555 19.1674 33.0488L17.516 35.9039L17.5317 35.9156L17.5397 35.9196V35.9232L17.555 35.9309V35.9349L17.5704 35.9426L17.5937 35.9659H17.6013L17.609 35.9776V35.9816L17.6247 35.9856V35.9932L17.6323 35.9973L17.64 36.0049L17.648 36.0089L17.6557 36.0169V36.0209L17.687 36.0443L17.6947 36.0559L17.718 36.0793L17.726 36.0829L17.7337 36.0909L17.749 36.1103L17.7647 36.1259V36.1296L17.7723 36.1412L17.7876 36.1529L17.7953 36.1682L17.811 36.1799V36.1835L17.8186 36.1916L17.8419 36.2189L17.8496 36.2269V36.2309L17.8573 36.2426V36.2466L17.8649 36.2583L17.8806 36.2736L17.8882 36.2852V36.2889L17.8959 36.3006L17.9036 36.3046V36.3126L17.9116 36.3202V36.3283L17.9192 36.3359L17.9269 36.3399V36.3556L17.9426 36.3673L17.9582 36.3983L17.9659 36.4099V36.4176L17.9735 36.4256V36.4336L17.9812 36.4416L17.9892 36.4493V36.4573L17.9969 36.4653V36.485H18.0045V36.5003L18.0122 36.516L18.0202 36.5313V36.5353L18.0355 36.5506V36.5667L18.0432 36.5743V36.586L18.0508 36.59V36.6053L18.0589 36.621L18.0665 36.6363L18.0742 36.652V36.6717L18.0818 36.6833V36.699L18.0895 36.707V36.7263L18.0975 36.73V36.7457L18.1052 36.7613C18.2061 37.143 18.1595 37.5637 17.9495 37.9298L17.2638 39.1141H38.0107V37.4588L38.0136 8.48058H18.2485C18.0768 8.48058 17.9364 8.34424 17.9364 8.1729C17.9364 8.00155 18.0767 7.86521 18.2485 7.86521H38.0136L38.0133 4.63199H16.3555L11.5952 9.39191L11.6342 34.3105L11.6495 34.2912L11.6808 34.2405L11.7042 34.2091L11.7355 34.1585C11.7589 34.1311 11.7745 34.1078 11.7979 34.0845V34.0804L11.8055 34.0688L11.8289 34.0378H11.8365L11.8442 34.0261L11.8598 34.0105L11.8675 33.9951L11.8832 33.9835L11.8985 33.9678L11.9298 33.9445L11.9375 33.9292L11.9688 33.9058L11.9842 33.8902L11.9998 33.8825L12.0075 33.8668L12.0388 33.8435L12.0541 33.8318L12.0698 33.8202L12.0851 33.8121L12.1322 33.7771L12.1478 33.7691L12.1631 33.7575L12.1785 33.7498L12.1941 33.7381L12.2094 33.7301L12.2251 33.7225L12.2404 33.7108L12.2561 33.7031L12.2794 33.6955L12.2951 33.6875L12.3108 33.6758L12.3261 33.6681L12.3418 33.6605L12.3571 33.6528L12.3808 33.6448L12.3961 33.6408L12.4118 33.6328L12.4271 33.6251L12.4428 33.6211L12.4584 33.6131L12.4818 33.6051L12.4971 33.6014L12.5127 33.5934L12.5284 33.5894L12.5518 33.5817L12.5674 33.5777L12.5908 33.5741L12.6064 33.5701L12.6217 33.5621H12.6298L12.6374 33.558H12.6527L12.6604 33.5544H12.6684L12.6761 33.5504H12.6837L12.6914 33.5467H12.699L12.7071 33.5427H12.7304L12.7461 33.5387H12.7614V33.5347H12.7847L12.7924 33.5307H12.8157L12.8233 33.5271H12.862L12.8696 33.5231H12.924V33.5194H13.0406L13.0563 33.5231H13.1026L13.1102 33.5271H13.1492V33.5307H13.1726L13.1879 33.5347H13.2036L13.2189 33.5387L13.2346 33.5427H13.2575L13.2655 33.5467H13.2732L13.2808 33.5504H13.2885L13.2962 33.5544H13.3118L13.3195 33.558H13.3348L13.3662 33.5697L13.3818 33.5737L13.3975 33.5774H13.4052L13.4132 33.5814H13.4208L13.4285 33.585L13.4361 33.589H13.4438L13.4518 33.593L13.4595 33.5971L13.4752 33.6011L13.4908 33.6047L13.5061 33.6127L13.5451 33.6244L13.5605 33.6321L13.5761 33.6361V33.6401L13.5914 33.6441L13.5995 33.6481L13.6071 33.6521L13.6148 33.6557L13.6224 33.6598L15.2662 30.8006C13.9731 29.5695 13.069 28.0154 12.6254 26.3443C11.9943 23.9835 12.259 21.3741 13.5758 19.0872L13.5911 19.0716C14.9158 16.7928 17.0269 15.2621 19.3874 14.631C21.7478 13.9959 24.358 14.265 26.6485 15.5854C27.7779 16.2398 28.729 17.0928 29.4687 18.0706H35.5923C35.756 18.0706 35.8964 18.2069 35.8964 18.3782C35.8964 18.5496 35.756 18.6859 35.5923 18.6859H29.905C30.0844 18.9703 30.2557 19.2586 30.4037 19.5546L35.5986  19.5561L35.598 19.555Z" fill="#202020" />
                  </svg>
                </span>
                <h1></h1>
                <h6>Discovery & Analysis</h6>
              </li>
              <li>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 48 49" fill="none">
                    <path d="M42.4558 2.66406H20.3103V7.56302H12.9288V12.4395H5.54688V46.6641H27.6924V41.7876H35.0743V36.8887H42.4563L42.4558 2.66406ZM39.9953 9.49406L35.0743 14.3634V10.7101L39.9953 5.83313V9.49406ZM26.291 5.14707H30.146L27.6856 7.58554L23.8302 7.58503L26.291 5.14707ZM8.02307 14.9001H25.2172V22.2299H8.02307V14.9001ZM8.02307 44.2035V24.6757H25.2172V44.2035H8.02307ZM32.6292 39.3346L27.6934 39.3341V12.4389H15.3905V10.023H32.5991L32.6292 39.3346ZM31.1605 7.56276L33.621 5.1468H37.215L34.7771 7.56276H31.1605ZM39.9963 30.9615L36.4918 34.4287H35.0754V32.0501L39.9963 27.1736V30.9615ZM39.9963 23.7212L35.0754 28.5976V24.9366L39.9963 20.0601V23.7212ZM35.0902 21.4843V17.8232L39.9963 12.9468V16.6078L35.0902 21.4843Z" fill="#202020" />
                    <path d="M10.4688 17.332H22.7717V19.7777H10.4688V17.332Z" fill="#202020" />
                    <path d="M10.4688 29.5508H20.3112V31.9965H10.4688V29.5508Z" fill="#202020" />
                    <path d="M20.3112 34.4453H10.4688V41.6856H22.7722V34.4453H20.3112ZM20.3112 39.2548H12.9298V36.891H20.3117L20.3112 39.2548Z" fill="#202020" />
                  </svg>
                </span>
                <h1></h1>
                <h6>UI/UX Design</h6>
              </li>
              <li>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="44" height="40" viewBox="0 0 44 40" fill="none">
                    <path d="M22.0001 0.078125C19.666 0.078125 17.4281 1.00504 15.7778 2.65533C14.1272 4.30563 13.2002 6.54406 13.2002 8.87834H30.8001C30.8001 6.54419 29.8732 4.30563 28.2225 2.65533C26.5722 1.00503 24.3344 0.078125 22.0001 0.078125V0.078125ZM41.8001 19.8786H35.2004V14.3857V14.2097L40.0768 9.33317C40.6001 8.77149 40.7929 7.97752 40.5857 7.23893C40.3781 6.49975 39.8005 5.92217 39.0619 5.715C38.3227 5.50732 37.5293 5.70017 36.9677 6.22348L32.0913 11.1H11.9391L7.06265 6.22348H7.06214C6.50048 5.70016 5.70653 5.50731 4.96796 5.715C4.2288 5.92217 3.65123 6.49971 3.44407 7.23893C3.23639 7.9776 3.42923 8.7715 3.95253 9.33317L8.79985 14.2026V14.3786V19.8715L2.20013 19.871C1.4139 19.871 0.687499 20.2905 0.294642 20.9713C-0.0982141 21.6517 -0.0982141 22.4907 0.294642 23.1715C0.687499 23.8519 1.41388 24.2713 2.20013 24.2713H8.79985C8.80292 25.9319 9.1216 27.5769 9.73852 29.1188C9.63519 29.1761 9.53748 29.2426 9.44541 29.3168L3.21955 35.5428C2.69625 36.1045 2.5034 36.8984 2.71058 37.637C2.91826 38.3762 3.49527 38.9538 4.23447 39.161C4.97363 39.3686 5.767 39.1758 6.32865 38.6525L12.0486 32.9323C14.0508 35.2369 16.79 36.7765 19.7998 37.2882V15.4789H24.2001V37.2882C27.2063 36.7766 29.9426 35.2399 31.9442 32.9395L37.6642 38.6597C38.2253 39.183 39.0193 39.3759 39.7584 39.1687C40.497 38.961 41.0746 38.3834 41.2823 37.6447C41.4894 36.9056 41.2966 36.1122 40.7733 35.5505L34.5474 29.3245C34.4554 29.2498 34.3571 29.1838 34.2538 29.126C34.8738 27.5847 35.195 25.9401 35.2002 24.2786H41.7999C42.5861 24.2786 43.3125 23.8596 43.7054 23.1787C44.0982 22.4979 44.0982 21.6594 43.7054 20.9786C43.3125 20.2977 42.5861 19.8787 41.7999 19.8787L41.8001 19.8786Z" fill="#202020" />
                  </svg>
                </span>
                <h1></h1>
                <h6>Testing Debugging</h6>
              </li>
              <li>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 48 49" fill="none">
                    <path d="M33.2049 30.5427C32.8752 30.5427 32.553 30.4449 32.2789 30.2618C32.0048 30.0786 31.7912 29.8184 31.6651 29.5138C31.5389 29.2093 31.5059 28.8742 31.5702 28.5509C31.6345 28.2275 31.7933 27.9306 32.0264 27.6975C32.2594 27.4644 32.5564 27.3057 32.8797 27.2414C33.203 27.1771 33.5381 27.2101 33.8427 27.3362C34.1472 27.4623 34.4075 27.676 34.5906 27.9501C34.7738 28.2241 34.8715 28.5464 34.8715 28.876C34.8715 29.318 34.6959 29.742 34.3834 30.0545C34.0708 30.3671 33.6469 30.5427 33.2049 30.5427ZM14.7951 30.5427C14.4655 30.5427 14.1433 30.4449 13.8692 30.2618C13.5951 30.0786 13.3815 29.8184 13.2553 29.5138C13.1292 29.2093 13.0962 28.8742 13.1605 28.5509C13.2248 28.2275 13.3835 27.9306 13.6166 27.6975C13.8497 27.4644 14.1467 27.3057 14.47 27.2414C14.7933 27.1771 15.1284 27.2101 15.4329 27.3362C15.7375 27.4623 15.9978 27.676 16.1809 27.9501C16.3641 28.2241 16.4618 28.5464 16.4618 28.876C16.4618 29.318 16.2862 29.742 15.9737 30.0545C15.6611 30.3671 15.2372 30.5427 14.7951 30.5427ZM33.8021 20.5093L37.1313 14.7454C37.1842 14.6665 37.2204 14.5775 37.2376 14.484C37.2548 14.3905 37.2526 14.2945 37.2312 14.2019C37.2097 14.1093 37.1695 14.0221 37.113 13.9456C37.0565 13.8692 36.9848 13.8052 36.9026 13.7575C36.8203 13.7099 36.7291 13.6797 36.6347 13.6687C36.5403 13.6577 36.4446 13.6663 36.3536 13.6938C36.2626 13.7213 36.1783 13.7672 36.1057 13.8286C36.0332 13.8901 35.974 13.9658 35.9319 14.051V14.051L32.5611 19.8892C29.8686 18.6816 26.951 18.0573 24 18.0573C21.049 18.0573 18.1314 18.6816 15.4389 19.8892L12.0681 14.051C12.026 13.9658 11.9668 13.8901 11.8943 13.8286C11.8217 13.7672 11.7374 13.7213 11.6464 13.6938C11.5554 13.6663 11.4597 13.6577 11.3653 13.6687C11.2709 13.6797 11.1797 13.7099 11.0974 13.7575C11.0152 13.8052 10.9435 13.8692 10.887 13.9456C10.8305 14.0221 10.7903 14.1093 10.7688 14.2019C10.7474 14.2945 10.7452 14.3905 10.7624 14.484C10.7796 14.5775 10.8158 14.6665 10.8688 14.7454L14.1979 20.5093C8.48125 23.6184 4.57222 29.4052 4 36.242H44C43.4278 29.4052 39.5181 23.6184 33.8021 20.5093" fill="#202020" />
                  </svg>
                </span>
                <h1></h1>
                <h6>Android & iOS App Development</h6>
              </li>
            </ul>
            <div class="ph-shadow-back">
              <img alt="image" src="assets/ph-qoute-shadow.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Sec Start -->

  <!-- about project start -->
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-ap-content">
            <h1>About Project</h1>
            <ul>
              <li>
                <p>Country</p>
                <h5>Canada</h5>
              </li>
              <li>
                <p>Targeted Audience</p>
                <h5>All Citizens</h5>
              </li>
              <li>
                <p>Project Type</p>
                <h5>Ecommerce Grocery App</h5>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-ap-content">
            <h4>
              InstaGo Rejuvenates Its CRMSystem With Protonshub’s High-End Mobile Application Development Services
            </h4>
            <p>
              A Progressive Web App designed for seniors to facilitate social interactions and participation in community programs, with the aim of reducing feelings of isolation and loneliness.
            </p>
            <div class="">
              <a href="javascript:;" class="ph-btn">Contact Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about project end -->

  <!-- business problem start -->
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-business-img">
            <img src="assets/business-problem.jpg" alt="image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-business-content">
            <h1>Business Problem</h1>
            <p>
              After conducting a survey, We have identified that both the cases are pick & drop services at the core, the differentiating idea between the two of these cases are as follows.
            </p>
            <ul>
              <li>
                Pick & Drop service charges only Delivery cost & no other amount gets charged while on the other hand, Buy from any store option charges some extra amount other than the delivery charges.
              </li>
              <li>
                Pick & drop feature is for a single item while on the other hand, Buy from any store needs a proper list as it majorly consists of household items.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- business problem end -->

  <!-- Challenges start -->
  <section class="ph-challenges-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 mx-auto">
          <div class="ph-heading-title">
            <h1>Challenges</h1>
            <p class="pb-0">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-case-shadow">
            <div class="row">
              <div class="col-md-6">
                <div class="ph-challeges-point">
                  <ul>
                    <li>Scalability to handle large numbers of products, orders and customers
                    </li>
                    <li>
                      Integration with existing enterprise systems like CRM, ERP, inventory management and logistics systems
                    </li>
                    <li>
                      Providing detailed analytics and reporting functionality to track key performance indicators (KPIs)
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-challeges-point">
                  <ul>
                    <li>
                      Secure Payment gateway integration
                    </li>
                    <li>
                      Data privacy and security compliance
                    </li>
                    <li>
                      Mobile optimization to support order placement and tracking on-the-go
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Challenges end -->

  <!-- Portfolio details -->
  <section class="ph-careers-video-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-12 mx-auto">
          <div class="ph-heading-title mb-4">
            <h1>Project Feature</h1>
          </div>
          <div class="ph-careers-inner">
            <img src="assets/stage-screen.webp" alt="image">
          </div>
          <div class="my-4 text-center">
            <p>
              Joining Protonshub could be your life changing decision in doing so with endless goodies on the way. It is a home away from home, where we work as a team for a common goal - to evolve constantly with the latest technologies while taking utmost care of our most valuable assets, our employees. Experience the ‘Feel Good factor’ and the value of ‘Work-life balance’ by working with us
            </p>
          </div>
        </div>
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="ph-box-work">
                <div class="ph-icon-work">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <div class="ph-content-work">
                  <h5>Login/Registration</h5>
                  <p>Solve the world's biggest technical problems</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-box-work">
                <div class="ph-icon-work">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <div class="ph-content-work">
                  <h5>Locating Local Grocery Stores</h5>
                  <p>
                    Get the right tools to succeed and a means to always learn
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-box-work">
                <div class="ph-icon-work">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <div class="ph-content-work">
                  <h5>Payment Gateway</h5>
                  <p>Have the freedom to work as per your productivity & well-being</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-box-work">
                <div class="ph-icon-work">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <div class="ph-content-work">
                  <h5>Searching Groceries</h5>
                  <p>Innovate and build the next generation of software</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-box-work">
                <div class="ph-icon-work">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <div class="ph-content-work">
                  <h5>Add To Cart/Schedule Orders</h5>
                  <p>Find the right balance between work and life</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-box-work">
                <div class="ph-icon-work">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <div class="ph-content-work">
                  <h5>Real-Time Order Tracking</h5>
                  <p>
                    More than work, be a part of something big and have absolute blast doing it
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="swiper ph-myswiper-slide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ph-portfolio-c">
              <img src="assets/case-study1.webp" alt="image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-c">
              <img src="assets/case-study2.webp" alt="image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-c">
              <img src="assets/case-study3.webp" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- result outcome start -->
  <section class="ph-bg-color">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-resultOut-img">
            <img src="assets/stage.webp" alt="image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-resulto-content">
            <h1>Result/Outcome</h1>
            <ul>
              <li>
                <h2>22K</h2>
                <p>Downloads</p>
              </li>
              <li>
                <h2>1200+</h2>
                <p>Product in Category</p>
              </li>
              <li>
                <h2>220+</h2>
                <p>Daily Shipping</p>
              </li>
            </ul>
            <div class="ph-result-inner">
              <div class="ph-outcome-insta">
                <h5>Hundreds of users</h5>
                <p>signed up to the application in no time</p>
              </div>
              <div class="ph-outcome-insta">
                <h5>Client received additional funding</h5>
                <p>for new phase development</p>
              </div>
            </div>
            <div class="ph-store-app">
              <a href="javascript:;">
                <img src="assets/apple-store.png">
              </a>
              <a href="javascript:;">
                <img src="assets/google-store.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- result outcome end -->

  <!-- casestudies testmonial start-->
  <section class="ph-spacer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="ph-casetest-img">
            <img src="assets/testmonial-man.webp" alt="image">
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="ph-heading-title text-start">Testimonials</h1>
          <div class="ph-testmonial-client">
            <p>
              Professional Web Development services! We have been working with Protonshub for many years now. They provided reliable solutions for complex web development problems! We love their services and we will continue our cooperation for further product developmentprojects.
            </p>
            <h5>Amine Belkhiria</h5>
            <p>CEO (Comapny Name)</p>
            <div class="ph-quate">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="35" viewBox="0 0 51 35" fill="none">
                  <path d="M44.7501 13.4703C46.6383 14.1171 48.1488 15.2813 49.2817 16.9629C50.4147 18.5152 50.9811 20.2615 50.9811 22.2018C51.107 24.1421 50.6035 26.0825 49.4706 28.0228C48.4635 29.8338 46.8271 31.3861 44.5613 32.6796C40.9108 34.62 37.7009 35.1374 34.9315 34.2319C32.1622 33.1971 30.211 31.6448 29.0781 29.5751C28.4487 28.5402 27.9452 27.1173 27.5676 25.3063C27.3158 23.4954 27.1899 21.6197 27.1899 19.6794C27.3158 17.6097 27.5676 15.6047 27.9452 13.6643C28.3228 11.724 28.8893 10.107 29.6446 8.81348C30.274 7.90799 31.0292 6.93782 31.9104 5.90297C32.6657 4.99748 33.5468 4.09199 34.5539 3.1865C35.6868 2.28101 36.9456 1.4402 38.3302 0.664062L44.9389 1.05213C44.0578 2.08698 43.2395 3.05715 42.4843 3.96264C41.8549 4.73877 41.2884 5.45023 40.7849 6.09701C40.2814 6.74379 39.7779 7.32589 39.2743 7.84331C38.3932 8.7488 37.7009 9.65429 37.1973 10.5598C36.6938 11.3359 36.2532 12.1767 35.8756 13.0822C35.6238 13.9877 35.6238 14.8932 35.8756 15.7987C37.512 13.9877 39.4002 13.0822 41.5402 13.0822C42.5472 13.0822 43.6172 13.2116 44.7501 13.4703ZM18.6931 14.4405C20.4554 15.4753 21.7142 16.8982 22.4695 18.7092C23.3506 20.3908 23.6653 22.2018 23.4136 24.1421C23.1618 26.0825 22.3436 27.8935 20.9589 29.5751C19.7001 31.2567 17.8119 32.5503 15.2943 33.4558C11.3921 34.7493 8.18215 34.6846 5.66457 33.2617C3.14698 31.7095 1.44761 29.8338 0.566457 27.6348C0.188819 26.4705 0 24.983 0 23.172C0 21.361 0.188819 19.4853 0.566457 17.545C0.944095 15.6047 1.44761 13.729 2.07701 11.918C2.70641 10.107 3.52462 8.61945 4.53165 7.45524C5.28693 6.54975 6.16809 5.70894 7.17512 4.9328C8.05628 4.28603 9.06331 3.57457 10.1962 2.79843C11.455 2.0223 12.8397 1.31084 14.3502 0.664062L20.9589 2.41037C19.9519 3.31586 19.0078 4.09199 18.1266 4.73877C17.3713 5.38555 16.679 5.96765 16.0496 6.48507C15.4202 7.0025 14.7908 7.51992 14.1614 8.03734C13.2803 8.81348 12.525 9.58961 11.8956 10.3657C11.2662 11.0125 10.6997 11.7887 10.1962 12.6942C9.69271 13.4703 9.50389 14.3111 9.62977 15.2166C10.6368 14.4405 11.6438 13.9877 12.6509 13.8584C13.7838 13.5996 14.7908 13.535 15.672 13.6643C16.679 13.7937 17.686 14.0524 18.6931 14.4405Z" fill="#EFEFEF" />
                </svg>
              </span>
              <span>
                <svg width="51" height="35" viewBox="0 0 51 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.24991 13.4703C4.36172 14.1171 2.85117 15.2813 1.71825 16.9629C0.585339 18.5152 0.0188828 20.2615 0.0188828 22.2018C-0.106998 24.1421 0.396519 26.0825 1.52943 28.0228C2.53647 29.8338 4.1729 31.3861 6.43872 32.6796C10.0892 34.62 13.2991 35.1374 16.0685 34.2319C18.8378 33.1971 20.789 31.6448 21.9219 29.5751C22.5513 28.5402 23.0548 27.1173 23.4324 25.3063C23.6842 23.4954 23.8101 21.6197 23.8101 19.6794C23.6842 17.6097 23.4324 15.6047 23.0548 13.6643C22.6772 11.724 22.1107 10.107 21.3554 8.81348C20.726 7.90799 19.9708 6.93782 19.0896 5.90297C18.3343 4.99748 17.4532 4.09199 16.4461 3.1865C15.3132 2.28101 14.0544 1.4402 12.6698 0.664062L6.06109 1.05213C6.94224 2.08698 7.76046 3.05715 8.51574 3.96264C9.14513 4.73877 9.71159 5.45023 10.2151 6.09701C10.7186 6.74379 11.2221 7.32589 11.7257 7.84331C12.6068 8.7488 13.2991 9.65429 13.8027 10.5598C14.3062 11.3359 14.7468 12.1767 15.1244 13.0822C15.3762 13.9877 15.3762 14.8932 15.1244 15.7987C13.488 13.9877 11.5998 13.0822 9.45983 13.0822C8.45279 13.0822 7.38282 13.2116 6.24991 13.4703ZM32.3069 14.4405C30.5446 15.4753 29.2858 16.8982 28.5305 18.7092C27.6494 20.3908 27.3347 22.2018 27.5864 24.1421C27.8382 26.0825 28.6564 27.8935 30.0411 29.5751C31.2999 31.2567 33.1881 32.5503 35.7057 33.4558C39.6079 34.7493 42.8178 34.6846 45.3354 33.2617C47.853 31.7095 49.5524 29.8338 50.4335 27.6348C50.8112 26.4705 51 24.983 51 23.172C51 21.361 50.8112 19.4853 50.4335 17.545C50.0559 15.6047 49.5524 13.729 48.923 11.918C48.2936 10.107 47.4754 8.61945 46.4683 7.45524C45.7131 6.54975 44.8319 5.70894 43.8249 4.9328C42.9437 4.28603 41.9367 3.57457 40.8038 2.79843C39.545 2.0223 38.1603 1.31084 36.6498 0.664062L30.0411 2.41037C31.0481 3.31586 31.9922 4.09199 32.8734 4.73877C33.6287 5.38555 34.321 5.96765 34.9504 6.48507C35.5798 7.0025 36.2092 7.51992 36.8386 8.03734C37.7197 8.81348 38.475 9.58961 39.1044 10.3657C39.7338 11.0125 40.3003 11.7887 40.8038 12.6942C41.3073 13.4703 41.4961 14.3111 41.3702 15.2166C40.3632 14.4405 39.3562 13.9877 38.3491 13.8584C37.2162 13.5996 36.2092 13.535 35.328 13.6643C34.321 13.7937 33.314 14.0524 32.3069 14.4405Z" fill="#EFEFEF" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- casestudies testmonial end-->

  <!-- other work start -->
  <section class="ph-otherWork-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Other Work</h1>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
      </div>
      <div class="ph-portfood-box">
        <div class="row align-items-end">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
            <div class="ph-otherwork-box">
              <div class="ph-otherinner-box">
                <h1>FoodBox</h1>
                <p class="ph-work-headline">ENTERTAINMENT</p>
                <p>
                  EduParc has created a solution for agile learning where you can tap into the right knowledge sources and expertise immediately. This is key for your future and that of your organization.” We activate and accelerate your performance with less time...
                </p>
              </div>
              <div class="ph-workProcess">
                <ul class="ph-multi-box">
                  <li>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                        <path d="M24.7646 1.83081H11.8464V4.68854H7.54052V7.53312H3.23438V27.4975H16.1526V24.6529H20.4587V21.7952H24.7649L24.7646 1.83081ZM23.3293 5.81497L20.4587 8.65543V6.52433L23.3293 3.67943V5.81497ZM15.3351 3.27923H17.5839L16.1486 4.70168L13.8996 4.70138L15.3351 3.27923ZM4.67882 8.96848H14.7087V13.2442H4.67882V8.96848ZM4.67882 26.0621V14.6709H14.7087V26.0621H4.67882ZM19.0324 23.222L16.1532 23.2217V7.53282H8.97649V6.12352H19.0148L19.0324 23.222ZM18.1757 4.68838L19.611 3.27908H21.7075L20.2853 4.68838H18.1757ZM23.3299 18.3376L21.2856 20.3602H20.4593V18.9727L23.3299 16.1281V18.3376ZM23.3299 14.1141L20.4593 16.9587V14.8231L23.3299 11.9785V14.1141ZM20.468 12.8093V10.6736L23.3299 7.82906V9.96467L20.468 12.8093Z" fill="#202020" />
                        <path d="M6.10547 10.3872H13.2822V11.8139H6.10547V10.3872Z" fill="#202020" />
                        <path d="M6.10547 17.5146H11.8469V18.9413H6.10547V17.5146Z" fill="#202020" />
                        <path d="M11.8469 20.3699H6.10547V24.5934H13.2825V20.3699H11.8469ZM11.8469 23.1754H7.54105V21.7965H11.8472L11.8469 23.1754Z" fill="#202020" />
                      </svg>
                      <p>UI/UX Design</p>
                    </div>
                  </li>
                  <li>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                        <path d="M14.0014 3.23901C12.6398 3.23901 11.3343 3.77972 10.3717 4.74238C9.40882 5.70506 8.86806 7.01081 8.86806 8.37247H19.1347C19.1347 7.01088 18.594 5.70506 17.6311 4.74238C16.6684 3.77971 15.363 3.23901 14.0014 3.23901V3.23901ZM25.5514 14.7893H21.7015V11.5851V11.4824L24.5461 8.63779C24.8513 8.31014 24.9638 7.84699 24.843 7.41615C24.7218 6.98496 24.385 6.64804 23.9541 6.52719C23.5229 6.40604 23.0601 6.51854 22.7324 6.8238L19.8879 9.66844H8.13242L5.28785 6.8238H5.28755C4.95991 6.51854 4.49678 6.40604 4.06594 6.52719C3.63477 6.64804 3.29785 6.98494 3.17701 7.41615C3.05586 7.84704 3.16835 8.31015 3.47361 8.63779L6.30122 11.4783V11.581V14.7852L2.45138 14.7849C1.99275 14.7849 1.56901 15.0296 1.33984 15.4267C1.11068 15.8236 1.11068 16.313 1.33984 16.7102C1.56901 17.107 1.99273 17.3517 2.45138 17.3517H6.30122C6.30301 18.3204 6.4889 19.28 6.84877 20.1794C6.7885 20.2128 6.7315 20.2516 6.67779 20.2949L3.04604 23.9267C2.74078 24.2544 2.62829 24.7175 2.74914 25.1484C2.87028 25.5796 3.20688 25.9165 3.63807 26.0373C4.06925 26.1585 4.53205 26.046 4.85968 25.7407L8.19634 22.404C9.36425 23.7483 10.9622 24.6464 12.7179 24.9449V12.2228H15.2847V24.9449C17.0383 24.6465 18.6345 23.7501 19.8021 22.4082L23.1387 25.7449C23.4661 26.0502 23.9292 26.1627 24.3604 26.0418C24.7912 25.9207 25.1281 25.5838 25.2493 25.1529C25.3701 24.7217 25.2576 24.2589 24.9524 23.9312L21.3206 20.2994C21.2669 20.2558 21.2096 20.2173 21.1494 20.1836C21.511 19.2845 21.6984 18.3252 21.7014 17.3559H25.5512C26.0099 17.3559 26.4336 17.1115 26.6628 16.7144C26.8919 16.3172 26.8919 15.8281 26.6628 15.4309C26.4336 15.0338 26.0099 14.7894 25.5512 14.7894L25.5514 14.7893Z" fill="#202020" />
                      </svg>
                      <p>Testing Debugging</p>
                    </div>
                  </li>
                  <li>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4307 2.61926H22.3556C22.4556 2.61926 22.5375 2.69879 22.5375 2.79874V21.945H23.8553V1.83081H11.2216L10.4307 2.61926ZM9.90803 21.0361L10.8305 19.4386L10.826 19.4365L10.8216 19.4341L10.8124 19.4318L10.808 19.4295H10.8035V19.4271H10.799L10.7943 19.4248L10.7899 19.4224L10.7809 19.4203L10.7765 19.418L10.7718 19.4156L10.7584 19.4086L10.7539 19.4065H10.7448L10.7359 19.4018L10.7312 19.3995L10.7223 19.3971L10.7133 19.3925L10.7086 19.3903L10.6953 19.3833H10.6861L10.6727 19.3763V19.3742H10.6682L10.6636 19.3718L10.6546 19.3695L10.6457 19.3648L10.641 19.3625L10.6366 19.3601L10.6321 19.358L10.6276 19.3557L10.6185 19.3533L10.6096 19.3486H10.6051V19.3463L10.6004 19.344L10.5915 19.3418L10.5825 19.3372L10.5779 19.3348L10.5689 19.3301L10.56 19.3278L10.5553 19.3257L10.5375 19.3163L10.5283 19.314L10.5239 19.3119L10.5149 19.3072L10.5102 19.3048L10.5013 19.3025V19.3002L10.4922 19.2978L10.483 19.2934L10.4786 19.291L10.4694 19.2863L10.4603 19.2819L10.4513 19.2795L10.4422 19.2749L10.4333 19.2725L10.4288 19.2681L10.4197 19.2636L10.4107 19.2589L10.4016 19.2566L10.3926 19.2521L10.3835 19.2474L10.379 19.2451L10.3701 19.2406L10.361 19.2362L10.352 19.2315L10.3431 19.2291L10.3384 19.2245L10.3206 19.2155L10.3114 19.2108L10.3023 19.2085L10.2978 19.204L10.2887 19.1994H10.2842L10.2797 19.1947L10.2706 19.1923L10.2614 19.1879L10.257 19.1832L10.2387 19.1743L10.2295 19.1696L10.2251 19.1673H10.2206L10.2161 19.1626L10.207 19.1581L10.1979 19.1534L10.1889 19.149L10.1798 19.1443L10.1753 19.1422L10.1662 19.1377L10.157 19.133L10.1481 19.1283L10.139 19.1239L10.1345 19.1192L10.1256 19.1147L10.1164 19.1101L10.1075 19.1056L10.103 19.1009L10.0983 19.0988L10.0939 19.0964L10.0849 19.092L10.0758 19.0875L10.0669 19.083L10.0624 19.0784L10.0533 19.076L10.0443 19.0713L10.0352 19.0669V19.0645L10.0262 19.0599L10.0218 19.0552L10.0126 19.0531L9.99477 19.0437L9.98563 19.0369L9.98116 19.0322L9.97223 19.0299L9.94926 19.0139L9.94033 19.0093L9.9314 19.0048L9.92226 19.0001L9.91779 18.9954L9.90886 18.991L9.89972 18.9865L9.89057 18.9818L9.88611 18.975L9.87696 18.9706L9.86803 18.9661L9.85889 18.9616L9.84974 18.9569V18.9546L9.84528 18.9523L9.82699 18.9433L9.81785 18.9365L9.81338 18.9318L9.80445 18.9274L9.7953 18.9227L9.79084 18.9182H9.78637L9.78191 18.9138L9.77276 18.907L9.75915 18.8978L9.75001 18.8931L9.74108 18.8887L9.73193 18.8819L9.72725 18.8772L9.71832 18.8725L9.7045 18.8636L9.69557 18.8568L9.68196 18.8478L9.67303 18.8432L9.66856 18.8387L9.66388 18.8366L9.61391 18.8026L9.60944 18.8002L9.55033 18.7615V18.7594L9.4776 18.7071L9.45485 18.6911L9.45038 18.6888L9.44571 18.6843L9.44124 18.682L9.43677 18.6775L9.43231 18.6754L9.42316 18.6662L9.4187 18.6639L9.41423 18.6594L9.4053 18.6548L9.40062 18.6501L9.39616 18.6454L9.39169 18.6433L9.38723 18.6386L9.38255 18.6363L9.37808 18.6339V18.6316L9.37362 18.6292L9.36915 18.6246L9.36468 18.6224L9.36001 18.6178L9.35554 18.6154L9.34661 18.6086L9.33746 18.5995L9.333 18.5971L9.32853 18.5927L9.32407 18.5903L9.3196 18.5859L9.31492 18.5835L9.31046 18.5791L9.30131 18.5722L9.29685 18.5699L9.2877 18.5608L9.28324 18.5584L9.27877 18.5537L9.27409 18.5493L9.26516 18.5446L9.25623 18.5352L9.25155 18.5331L9.24709 18.5284L9.24262 18.5261L9.23816 18.5214L9.23369 18.517L9.22901 18.5146L9.22008 18.5053L9.21562 18.5029L9.21115 18.5008L9.20647 18.4961L9.20201 18.4914L9.19754 18.487V18.4848L9.19307 18.4825L8.2706 20.08L8.66125 20.3071L9.90803 21.0361ZM9.59904 23.1994C9.6035 23.1881 9.60818 23.1813 9.61265 23.1722L9.61733 23.1677L10.1626 22.2246C10.2353 22.0951 10.2489 21.9473 10.2128 21.8133C10.1809 21.6793 10.0899 21.5564 9.96269 21.4839L9.8855 21.4407V21.4384L7.92656 20.3067L7.92209 20.3045L7.91762 20.3022L7.84043 20.2569C7.71305 20.1863 7.56781 20.1727 7.43596 20.2091C7.29944 20.2431 7.18142 20.3318 7.10401 20.4589L6.7678 21.0475L6.76334 21.0543L4.2183 25.4624C4.14111 25.5919 4.12728 25.7397 4.16386 25.8737C4.20001 26.0079 4.28635 26.1306 4.41373 26.2033L4.42287 26.2078L6.54067 27.4301C6.66783 27.5007 6.81329 27.5143 6.94492 27.478C7.0723 27.4439 7.19032 27.3621 7.26773 27.237L9.59904 23.1994ZM6.73118 25.3784C6.69503 25.2489 6.61315 25.1307 6.48578 25.0579C6.36308 24.9852 6.21762 24.9716 6.08599 25.0056C5.95861 25.042 5.84058 25.126 5.76785 25.251C5.69513 25.3761 5.68152 25.5213 5.71341 25.6508C5.74978 25.7827 5.83611 25.8986 5.95882 25.9713C6.08619 26.044 6.23144 26.0576 6.35861 26.0234C6.49045 25.9894 6.60869 25.903 6.6812 25.778C6.75393 25.6534 6.76775 25.5079 6.73118 25.3784ZM6.66759 24.749C6.87685 24.8717 7.0223 25.0671 7.08121 25.2853C7.13586 25.5056 7.1131 25.7466 6.9904 25.9579C6.8677 26.1693 6.67249 26.3124 6.4543 26.3715C6.23612 26.4306 5.99539 26.4055 5.7817 26.2828C5.56798 26.1601 5.42721 25.9647 5.36809 25.7442C5.30897 25.526 5.3364 25.2851 5.45889 25.0716C5.57713 24.8602 5.77703 24.7171 5.99521 24.6603C6.21339 24.6014 6.45407 24.6263 6.66759 24.749ZM9.61243 14.2558H12.6985V11.1723C12.6985 11.0724 12.7801 10.9928 12.8803 10.9928C13.83 10.9928 14.6892 11.3767 15.3116 11.9993C15.9387 12.6243 16.3204 13.4856 16.3204 14.4353C16.3204 15.3873 15.9387 16.2486 15.3116 16.8712C14.6891 17.4939 13.83 17.8802 12.8803 17.8802C11.9259 17.8802 11.067 17.4938 10.4444 16.8712C9.8219 16.2485 9.43555 15.3898 9.43555 14.4423V14.4355C9.43533 14.3377 9.51274 14.2558 9.61247 14.2558L9.61243 14.2558ZM12.8803 14.6171H9.7991C9.8444 15.3965 10.1808 16.0987 10.6988 16.6167C11.2532 17.1758 12.0258 17.5211 12.8802 17.5211C13.7299 17.5211 14.5025 17.1755 15.0571 16.6167C15.616 16.0599 15.9615 15.2874 15.9615 14.4353C15.9615 13.5855 15.6162 12.8129 15.0571 12.2562C14.5389 11.7359 13.839 11.402 13.0573 11.3565V14.4353C13.0573 14.5353 12.9755 14.6172 12.8802 14.6172L12.8803 14.6171ZM12.3167 10.7041L12.2667 13.415C12.2712 13.5105 12.1985 13.5945 12.0985 13.5989L9.38549 13.7444C9.28533 13.7489 9.19899 13.674 9.19452 13.5738C9.19006 13.5079 9.19006 13.4399 9.19006 13.3693C9.20835 12.5672 9.54455 11.8492 10.0764 11.3357C10.6125 10.8198 11.3395 10.5087 12.1395 10.5223C12.2395 10.5249 12.3167 10.6065 12.3167 10.7041L12.3167 10.7041ZM11.9122 13.2491L11.9531 10.8838C11.3259 10.9178 10.7535 11.1815 10.3263 11.5927C9.8582 12.0451 9.56285 12.6743 9.54902 13.3742L11.9122 13.2491ZM13.9482 21.0274H13.1348V21.8384H13.9482V21.0274ZM12.9527 20.6684H14.1253C14.2252 20.6684 14.3071 20.748 14.3071 20.8481V22.0184C14.3071 22.1183 14.2252 22.2002 14.1253 22.2002H12.9527C12.8573 22.2002 12.7756 22.1183 12.7756 22.0184V20.8481C12.7756 20.748 12.8575 20.6684 12.9527 20.6684ZM15.0888 21.3546C14.9889 21.3546 14.907 21.2751 14.907 21.1749C14.907 21.0773 14.9887 20.9955 15.0888 20.9955H17.4065C17.5065 20.9955 17.5837 21.0773 17.5837 21.1749C17.5837 21.2751 17.5065 21.3546 17.4065 21.3546H15.0888ZM15.0888 21.9182C14.9889 21.9182 14.907 21.8365 14.907 21.7387C14.907 21.6388 14.9887 21.5569 15.0888 21.5569H20.1925C20.2924 21.5569 20.3743 21.6388 20.3743 21.7387C20.3743 21.8365 20.2924 21.9182 20.1925 21.9182H15.0888ZM20.7652 8.21637C20.8607 8.21637 20.9426 8.29825 20.9426 8.39585C20.9426 8.4958 20.8607 8.57767 20.7652 8.57767H17.6702C17.5703 8.57767 17.4931 8.49601 17.4931 8.39585C17.4931 8.29825 17.5705 8.21637 17.6702 8.21637H20.7652ZM20.7652 9.08441C20.8607 9.08441 20.9426 9.16394 20.9426 9.26389C20.9426 9.36384 20.8607 9.44337 20.7652 9.44337H17.6702C17.5703 9.44337 17.4931 9.36384 17.4931 9.26389C17.4931 9.16394 17.5705 9.08441 17.6702 9.08441H20.7652ZM20.7652 9.9501C20.8607 9.9501 20.9426 10.032 20.9426 10.1319C20.9426 10.2297 20.8607 10.3114 20.7652 10.3114H17.0978C16.9976 10.3114 16.916 10.2297 16.916 10.1319C16.916 10.032 16.9976 9.9501 17.0978 9.9501H20.7652ZM16.9887 11.1407C16.9615 11.1203 16.9387 11.0908 16.9251 11.0589C16.5209 10.5134 15.9935 10.0409 15.3664 9.6796C14.1211 8.95937 12.6939 8.81156 11.4078 9.15689C10.1172 9.50225 8.96293 10.3384 8.2403 11.5816L8.23584 11.5907C7.51327 12.8381 7.36802 14.2629 7.71313 15.5537C7.96768 16.5058 8.49483 17.3875 9.25382 18.0737L9.25829 18.076C9.39013 18.1987 9.53559 18.3148 9.68551 18.4237L9.78099 18.492L9.79014 18.4988L9.83118 18.526L9.84032 18.5328L9.88562 18.56L9.89008 18.5647L9.92645 18.5896L9.93091 18.5942L9.93984 18.5989L9.94899 18.6034L9.95345 18.6078L9.96238 18.6125L9.97153 18.6172V18.6193L9.97599 18.6217L9.98493 18.6261L9.9896 18.6306L10.0075 18.64L10.0121 18.6444L10.0213 18.6491L10.0258 18.6536H10.0302L10.0349 18.658L10.044 18.6625L10.0485 18.6672L10.0577 18.6719L10.0621 18.6765L10.071 18.681L10.0802 18.6855L10.0847 18.6878V18.6901L10.0936 18.6925L10.1027 18.697L10.1072 18.7016L10.1161 18.7061L10.1208 18.7106L10.1297 18.7152L10.1389 18.7199L10.1436 18.7244L10.1525 18.7288L10.1616 18.7312L10.1663 18.7357L10.1752 18.7403L10.1844 18.745L10.1889 18.7497L10.1978 18.7542L10.2023 18.7563V18.7586L10.2114 18.7633L10.2203 18.7678L10.2295 18.7701L10.2339 18.7746L10.2431 18.7792L10.2522 18.7837L10.2567 18.7884L10.2656 18.7931L10.2748 18.7954L10.2792 18.7999L10.2882 18.8046L10.2973 18.809L10.3018 18.8137L10.3107 18.8182L10.3199 18.8205V18.8228L10.3333 18.8299L10.3424 18.832L10.3469 18.8367L10.3558 18.8413L10.3649 18.8458L10.3783 18.8528L10.3875 18.8573L10.4011 18.8641L10.4102 18.8688L10.4192 18.8735L10.4238 18.8758L10.433 18.8803L10.4375 18.8849H10.4419L10.4511 18.8873L10.4555 18.892L10.4647 18.8964L10.4693 18.9009L10.4783 18.9032L10.4874 18.9079L10.4966 18.91V18.9124L10.501 18.9147L10.5102 18.9194L10.5191 18.9217L10.5283 18.9262L10.5329 18.9285L10.5419 18.9332L10.5463 18.9377L10.5555 18.9398L10.5644 18.9445L10.5733 18.9489L10.5825 18.9513L10.5869 18.9558L10.5959 18.9581L10.6006 18.9628L10.6095 18.9651L10.6184 18.9698L10.6276 18.9743L10.632 18.9766L10.6412 18.9789L10.6501 18.9834L10.659 18.9857L10.6637 18.9902L10.6726 18.9949H10.6771L10.6816 18.9972L10.6863 18.9993L10.6954 19.0038L10.7043 19.0061L10.7135 19.0108L10.7179 19.0132L10.7269 19.0176L10.736 19.02L10.7449 19.0247L10.7496 19.027L10.7588 19.0315L10.7677 19.0338L10.7813 19.0406L10.7902 19.0429L10.8221 19.0565L10.8311 19.0589L10.8402 19.0634C10.9402 19.1021 11.0448 19.1384 11.1447 19.1724L11.1583 19.1771C12.131 19.4906 13.1488 19.5065 14.1034 19.2475C15.394 18.9022 16.553 18.0637 17.2754 16.8163C17.9935 15.5665 18.1434 14.144 17.7936 12.8535C17.6341 12.2406 17.3613 11.659 16.9887 11.1407ZM20.7652 11.6839C20.8607 11.6839 20.9426 11.7657 20.9426 11.8657C20.9426 11.9635 20.8607 12.0454 20.7652 12.0454H17.902C18.002 12.277 18.0838 12.5158 18.1474 12.7565C18.5155 14.1357 18.3611 15.6558 17.5883 16.9898C16.8205 18.3259 15.5798 19.2213 14.2027 19.5916C13.2258 19.8529 12.1806 19.8508 11.1807 19.5552L10.2174 21.2207L10.2265 21.2275L10.2312 21.2299V21.232L10.2401 21.2365V21.2388L10.249 21.2433L10.2627 21.2569H10.2671L10.2716 21.2637V21.266L10.2807 21.2684V21.2728L10.2852 21.2752L10.2897 21.2796L10.2943 21.282L10.2988 21.2867V21.289L10.3171 21.3026L10.3216 21.3094L10.3352 21.323L10.3399 21.3251L10.3443 21.3298L10.3532 21.3411L10.3624 21.3502V21.3524L10.3669 21.3592L10.3758 21.366L10.3803 21.3749L10.3894 21.3817V21.3838L10.3939 21.3885L10.4075 21.4045L10.4119 21.4091V21.4115L10.4164 21.4183V21.4206L10.4209 21.4274L10.43 21.4364L10.4345 21.4432V21.4453L10.4389 21.4521L10.4434 21.4544V21.4591L10.4481 21.4636V21.4683L10.4526 21.4727L10.457 21.4751V21.4842L10.4662 21.491L10.4753 21.5091L10.4798 21.5159V21.5204L10.4842 21.525V21.5297L10.4887 21.5344L10.4934 21.5389V21.5435L10.4979 21.5482V21.5597H10.5023V21.5686L10.5068 21.5778L10.5115 21.5867V21.589L10.5204 21.598V21.6073L10.5249 21.6118V21.6186L10.5293 21.6209V21.6299L10.534 21.639L10.5385 21.648L10.5429 21.6571V21.6686L10.5474 21.6754V21.6845L10.5519 21.6892V21.7005L10.5565 21.7026V21.7117L10.561 21.7209C10.6199 21.9435 10.5927 22.1889 10.4702 22.4025L10.0702 23.0934H22.1726V22.1277L22.1743 5.22378H10.6446C10.5444 5.22378 10.4626 5.14425 10.4626 5.0443C10.4626 4.94435 10.5444 4.86482 10.6446 4.86482H22.1743L22.1741 2.97877H9.54037L6.76353 5.75539L6.78628 20.2912L6.79521 20.2799L6.8135 20.2504L6.82711 20.2321L6.8454 20.2025C6.85901 20.1866 6.86815 20.173 6.88176 20.1594V20.157L6.88623 20.1502L6.89984 20.1322H6.9043L6.90877 20.1253L6.91791 20.1162L6.92238 20.1073L6.93152 20.1005L6.94046 20.0913L6.95874 20.0777L6.96321 20.0688L6.9815 20.0552L6.99043 20.046L6.99957 20.0416L7.00404 20.0324L7.02233 20.0188L7.03126 20.012L7.0404 20.0052L7.04933 20.0005L7.07677 19.9801L7.08591 19.9754L7.09484 19.9686L7.10377 19.9642L7.11292 19.9574L7.12185 19.9527L7.13099 19.9482L7.13992 19.9414L7.14907 19.9369L7.16268 19.9325L7.17182 19.9278L7.18097 19.921L7.1899 19.9165L7.19904 19.9121L7.20797 19.9076L7.2218 19.9029L7.23073 19.9006L7.23987 19.8959L7.2488 19.8914L7.25795 19.8891L7.26709 19.8844L7.2807 19.8797L7.28963 19.8776L7.29878 19.8729L7.30792 19.8706L7.32153 19.8661L7.33068 19.8638L7.34429 19.8617L7.35343 19.8593L7.36236 19.8546H7.36704L7.3715 19.8523H7.38044L7.3849 19.8502H7.38958L7.39405 19.8478H7.39851L7.40298 19.8457H7.40744L7.41212 19.8434H7.42573L7.43487 19.841H7.44381V19.8387H7.45742L7.46188 19.8364H7.47549L7.47996 19.8342H7.5025L7.50696 19.8319H7.53865V19.8298H7.6067L7.61584 19.8319H7.64285L7.64732 19.8342H7.67007V19.8364H7.68368L7.69261 19.8387H7.70175L7.71069 19.841L7.71983 19.8434H7.73323L7.7379 19.8457H7.74237L7.74684 19.8478H7.7513L7.75577 19.8502H7.76491L7.76938 19.8523H7.77831L7.7966 19.8591L7.80574 19.8614L7.81489 19.8636H7.81935L7.82403 19.8659H7.8285L7.83296 19.868L7.83743 19.8704H7.84189L7.84657 19.8727L7.85104 19.8751L7.86018 19.8774L7.86933 19.8795L7.87826 19.8842L7.90101 19.891L7.90994 19.8955L7.91909 19.8978V19.9001L7.92802 19.9025L7.9327 19.9048L7.93716 19.9072L7.94163 19.9093L7.94609 19.9116L8.90493 18.2438C8.15068 17.5257 7.62327 16.6191 7.36446 15.6443C6.99636 14.2672 7.15075 12.745 7.91887 11.411L7.9278 11.4019C8.70057 10.0726 9.93204 9.17964 11.309 8.81152C12.6859 8.44108 14.2085 8.59802 15.5446 9.36827C16.2034 9.74998 16.7582 10.2476 17.1897 10.8179H20.7619C20.8573 10.8179 20.9392 10.8975 20.9392 10.9974C20.9392 11.0974 20.8573 11.1769 20.7619 11.1769H17.4443C17.5489 11.3428 17.6489 11.511 17.7352 11.6837L20.7655 11.6845L20.7652 11.6839Z" fill="#202020" />
                      </svg>
                      <p>Discovery & Analysis</p>
                    </div>
                  </li>
                  <li>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                        <path d="M19.2711 15.1951C19.2628 13.6657 19.9546 12.5113 21.3548 11.6611C20.5714 10.5401 19.3878 9.92331 17.825 9.80246C16.3456 9.68577 14.7286 10.6651 14.1369 10.6651C13.5118 10.6651 12.0782 9.84413 10.953 9.84413C8.62753 9.88164 6.15625 11.6986 6.15625 15.3951C6.15625 16.487 6.35629 17.615 6.75636 18.7791C7.28979 20.3085 9.21514 24.0592 11.2238 23.9967C12.274 23.9717 13.0158 23.2507 14.3827 23.2507C15.708 23.2507 16.3956 23.9967 17.5667 23.9967C19.592 23.9675 21.334 20.5586 21.8424 19.025C19.1253 17.7456 19.2711 15.2743 19.2711 15.1951V15.1951ZM16.9124 8.35219C18.0501 7.00195 17.9459 5.77256 17.9126 5.33081C16.9082 5.38915 15.7455 6.01427 15.0829 6.78524C14.3536 7.61039 13.9243 8.63141 14.016 9.78162C15.1037 9.86497 16.0956 9.30653 16.9124 8.35219V8.35219Z" fill="black" />
                      </svg>
                      <p>Android & iOS App</p>
                    </div>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="fa-solid fa-arrow-right ms-2"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
            <div class="ph-otherwork-img d-flex justify-content-center">
              <img src="assets/recent-portfolio-1.png" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- other work end -->

  <!-- business start -->
  <section class="ph-bigger-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-7 col-xl-8 col-lg-8 col-md-10 mx-auto col-sm-12">
          <div class="ph-heading-title ph-hire-title mb-0">
            <h1>
              Access your <span>Business Potentials</span> today & find Opportunity for <span>Bigger Success</span>
            </h1>
            <div class="mt-4">
              <a href="javascript:;" class="ph-btn ph-btn-white">
                Start A Project Now <i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- business end -->

  <section class="ph-our-client-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="ph-boxlogo-shadow ">
            <div class="ph-ourClient-logo mt-0 shadow-none p-0">
              <div class="swiper ph-mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
                <div class="swiper-wrapper" id="swiper-wrapper-4ad2bce8f10c10257" aria-live="off" style="transform: translate3d(-2002.5px, 0px, 0px); transition-duration: 1000ms;">
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/stage.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/mahindra-org.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="5" role="group" aria-label="6 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/manyvaar.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="6" role="group" aria-label="7 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/honey.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/colgate.svg">
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/g2-org.svg">
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/henkel-org.svg">
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/stage.svg">
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="4" role="group" aria-label="5 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/mahindra-org.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="5" role="group" aria-label="6 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/manyvaar.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="6" role="group" aria-label="7 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/honey.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="1 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/colgate.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/g2-org.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/henkel-org.svg">
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 7" style="width: 180.25px; margin-right: 20px;">
                    <img src="assets/stage.svg">
                  </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Lets Build Your Application</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">
                Get Connect <i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->  
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>