<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Top ourTeam Banner start -->
  <section class="ph-ourTeam-banner ph-contact-banner">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-8 col-xl-8 col-md-10 col-sm-12 mx-auto">
            <div class="ph-heading-title text-center">
              <h1><span>Let’s hear</span> what’s on your mind</h1>
              <p>
                Drop your query, and we are here to give you the necessary assistance. Our solid industry expertise in a variety of fields, sectors, and regions serves as the foundation for the world-class solutions we provide to meet your demands.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OurTeam Banner End -->

  <!-- Team Sec Start -->
  <section class="Ph-form-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Connect With Our Team Now!</h1>
            <p>Your information is safe with us; just fill out the form with your inquiry, and we'll get back to you. We will assess your needs and proceed in accordance with those findings.</p>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <ul class="nav ph-allcontact-form nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link active" id="project-detail-tab" data-bs-toggle="pill" data-bs-target="#project-detail" role="tab" aria-controls="project-detail" aria-selected="true">
                <span><i class="fa-solid fa-user-tie"></i></span> Have a project
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="partner-detail-tab" data-bs-toggle="pill" data-bs-target="#partner-detail" role="tab" aria-controls="partner-detail" aria-selected="false">
                <span><i class="fa-solid fa-handshake-simple"></i></span> Become Partner
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="feedback-detail-tab" data-bs-toggle="pill" data-bs-target="#feedback-detail" role="tab" aria-controls="pills-contact" aria-selected="false">
                <span><i class="fa-sharp fa-solid fa-comments"></i></span> Feedback
              </a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="project-detail" role="tabpanel" aria-labelledby="project-detail-tab" tabindex="0">
              <div class="ph-contact-form">
                <div class="ph-contact-highlight">
                  <h5>Growth and Success are Just a Step Away</h5>
                  <p>Please complete the following form and help us improve our customer experience.</p>
                </div>
                <div class="ph-contact-field">
                  <form method="post" class="ph-protons-form" action="">
                    <div class="row">
                      <ul>
                        <li>
                          <input type="text" name="name" placeholder="Jhon Due" required />
                        </li>
                        <li>
                          <input type="email" name="email" placeholder="Email Id/Skype Id" required />
                        </li>
                        <li>
                          <input type="number" name="number" placeholder="Mobile Number" required />
                        </li>
                      </ul>
                    </div>
                    <div class="ph-contact-msg">
                      <textarea name="message" placeholder="Project Description" required></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6 ph-job-apply-form">
                        <label for="file-upload" class="ph-file-upload"> <i class="fa-solid fa-paperclip me-1"></i> Attach file </label>
                        <input id="file-upload" type="file" name="file" required />
                        <span class="ph-attech-text">less than MB</span>
                      </div>
                      <div class="col-md-6">
                        <div class="ph-check-box">
                          <input type="checkbox" id="ph-agreement" name="ph-agreement" value="Agreement" />
                          <label for="ph-agreement">Please send me a Non Disclosure Agreement</label>
                          <span class="ph-check-small-text">Your idea is 100% protected by our non disclosure agreement. </span>
                        </div>
                      </div>
                      <div class="col-md-12 mt-5 text-center d-block">
                        <a href="javascript:;" class="ph-btn ph-contact-btn">Contact Now</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="partner-detail" role="tabpanel" aria-labelledby="partner-detail-tab" tabindex="0">
              <div class="ph-contact-form">
                <div class="ph-contact-highlight">
                  <h5>Thank you for your interest in becoming a partner.</h5>
                  <p>Please fill out this form to begin your journey to becoming a Nutanix Partner.</p>
                </div>
                <div class="ph-contact-field">
                  <form method="post" class="ph-protons-form" action="">
                    <div class="row">
                      <ul>
                        <li>
                          <input type="text" name="name" placeholder="Company Name" required />
                        </li>
                        <li>
                          <input type="text" name="website url" placeholder="Website Url" required />
                        </li>
                        <li>
                          <input type="email" name="email" placeholder="Offical Email Id" required />
                        </li>
                        <li>
                          <input type="text" name="cname" placeholder="Contact Person Name" required />
                        </li>
                        <li>
                          <input type="email" name="email" placeholder="Email Id" required />
                        </li>
                        <li>
                          <input type="number" name="number" placeholder="Mobile Number" required />
                        </li>
                        <li>
                          <input type="text" name="skypeid" placeholder="Skype" required />
                        </li>
                        <li>
                          <div class="ph-job-apply-form">
                            <label for="file-upload" class="ph-file-upload"> <i class="fa-solid fa-paperclip me-1"></i>Business Proposal</label>
                            <input id="file-upload" type="file" name="file" required />
                            <span class="ph-attech-text">less than MB</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mt-5 text-center d-block">
                        <a href="javascript:;" class="ph-btn ph-contact-btn">Contact Now</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="feedback-detail" role="tabpanel" aria-labelledby="feedback-detail-tab" tabindex="0">
              <div class="ph-contact-form">
                <div class="ph-contact-highlight">
                  <h5>We value your feedback.</h5>
                  <p>Please complete the following form and help us improve our customer experience.</p>
                </div>
                <div class="ph-contact-field">
                  <form method="post" class="ph-protons-form" action="">
                    <div class="row">
                      <ul>
                        <li>
                          <input type="text" name="name" placeholder="Jhon Due" required />
                        </li>
                        <li>
                          <input type="email" name="email" placeholder="Email Id/Skype Id" required />
                        </li>
                        <li>
                          <input type="number" name="number" placeholder="Mobile Number" required />
                        </li>
                      </ul>
                    </div>
                    <div class="ph-contact-msg">
                      <textarea name="message" placeholder="Project Description" required></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6 ph-job-apply-form">
                        <label for="file-upload" class="ph-file-upload"> <i class="fa-solid fa-paperclip me-1"></i> Attach file </label>
                        <input id="file-upload" type="file" name="file" required />
                        <span class="ph-attech-text">less than MB</span>
                      </div>
                      <div class="col-md-6">
                        <div class="ph-check-box">
                          <input type="checkbox" id="ph-agreement" name="ph-agreement" value="Agreement" />
                          <label for="ph-agreement">Please send me a Non Disclosure Agreement</label>
                          <span class="ph-check-small-text">Your idea is 100% protected by our non disclosure agreement. </span>
                        </div>
                      </div>
                      <div class="col-md-12 mt-5 text-center d-block">
                        <a href="javascript:;" class="ph-btn ph-contact-btn">Contact Now</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner Sec Start -->

  <!-- contact map start -->
  <section class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
          <div class="ph-map-address">
            <ul>
              <li class="ph-contact-india">
                <div class="ph-contact-indore">
                  <h5>India</h5>
                  <p>606-607, Princes Business Skypark, AB RD, LIG Colony, Indore, Madhya Pradesh, India.</p>
                  <p>Tel.: +91 93020 96166</p>
                  <p>Email: info@protonshub.com</p>
                </div>
              </li>
              <li>
                <div class="ph-contact-map">
                  <img alt="image" src="assets/contact-map.jpg" />
                </div>
              </li>
              <li class="ph-contact-usa">
                <div class="ph-contact-camino">
                  <h5>United States</h5>
                  <p>800 W El Camino Real Suite 180, Mountain View, CA 94040, United States.</p>
                  <p>Tel.: +1 (650) 275-5033</p>
                  <p>Email: info@protonshub.com</p>
                </div>
              </li>
              <li>
                <div class="ph-contact-map">
                  <img alt="image" src="assets/contact-map-usa.jpg" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact map end -->

  <section class="ph-top-logo-sec ph-spacer-top">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-social-icon">
            <ul>
              <li>
                <span class="ph-fb-color"><i class="fa-brands fa-facebook-f"></i></span>
                <h1 class="pb-0 mb-0">145k</h1>
                <h6>Likes</h6>
              </li>
              <li>
                <span class="ph-insta-color"><i class="fa-brands fa-instagram"></i></span>
                <h1 class="pb-0 mb-0">55k</h1>
                <h6>Followers</h6>
              </li>
              <li>
                <span class="ph-linkedin-color"><i class="fa-brands fa-linkedin-in"></i></span>
                <h1 class="pb-0 mb-0">205k</h1>
                <h6>Connection</h6>
              </li>
              <li>
                <span class="ph-twitter-color"><i class="fa-brands fa-twitter"></i></span>
                <h1 class="pb-0 mb-0">1145k</h1>
                <h6>Posts</h6>
              </li>
            </ul>
            <div class="ph-shadow-back">
              <img alt="image" src="assets/ph-qoute-shadow.svg" />
            </div>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 mx-auto">
          <div class="ph-awardHome-slide">
            <div class="swiper ph-mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img alt="image" src="assets/topdeveloper.svg" /></div>
                <div class="swiper-slide"><img alt="image" src="assets/appfutura.svg" /></div>
                <div class="swiper-slide"><img alt="image" src="assets/iso.svg" /></div>
                <div class="swiper-slide"><img alt="image" src="assets/clutch.svg" /></div>
                <div class="swiper-slide"><img alt="image" src="assets/glassdoor.svg" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
      <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Lets Build Your Application</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">Get Connect <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>