<title>Protonshub | Home</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Top mainBanner start -->
  <section class="ph-main-banner">
    <div class="container">
      <div class="ph-video-container">
        <div class="row align-items-center">
          <div class="col-md-7 col-sm-12">
            <div class="ph-banner-content">
              <h6 class="ph-banner-tiltle">Redefining Innovation</h6>
              <h1>Award-Winning Custom Software Development Company</h1>
              <p>Transform your digital transformation journey and create an impact today. From Mobile
                App Development, Web Development, UI/UX Design, and Enterprise Solutions to
                Dedicated Developers get the <span>best software development services in the
                USA</span> under a
              centralized location. </p>
              <h6 class="mt-2">Experience | Expertise | Excellence</h6>
              <div class="ph-banner-btn">
                <a href="javascript:;" class="ph-btn">Get Connect <i
                  class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="ph-video-box">
              <div class="ph-video-inner">
                <video width="100%" controls="controls" autoplay="autoplay" loop="loop"
                muted="muted" class="ph-video-play" alt="video protonshub"
                src="assets/Protonshub-Technologies-video.mp4"></video>
              </div>
              <div class="ph-video-content">
                <p>Our culture of uplifting our people with <span>Care</span>, <span>Comfort</span>
                  and <span>Confidence</span> has helped us to be a company with <span>100% client
                  retention.</span>
                </p>
                <h6><span>Rakshit Khandelwal</span></h6>
                <h6>CEO (Protonshub Technology)</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Banner End -->

  <!--About Start -->
  <section class="ph-about-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
          <div class="ph-about-img">
            <img src="assets/about-us-img.webp" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="ph-about-content">
            <div class="text-start">
              <h1>About Us</h1>
            </div>
            <p>Protonshub a CMMI Level 5 company, is one of the leading names in custom software
              development. Since the beginning of the digital ecosystem, Protonshub has been at the
              top of brand strategy, digital innovation, and operational excellence as a seasoned
              builder of custom software solutions for industry giants like Eduparc, InstaGo, Henkel,
              and a long list of others.
            </p>
            <p>Building target customers, potential numbers, and unified quality of work, Protonshub is
              one of the <span>top software development companies in the USA</span> and it’s the right
              destination
              to achieve positive outcomes.
            </p>
            <div class="ph-explore-more mb-3">
              <a href="javascript:;">Explore More <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
            <div class="ph-awardHome-slide">
              <div class="swiper ph-mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="assets/topdeveloper.svg"></div>
                  <div class="swiper-slide"><img src="assets/appfutura.svg"></div>
                  <div class="swiper-slide"><img src="assets/iso.svg"></div>
                  <div class="swiper-slide"><img src="assets/clutch.svg"></div>
                  <div class="swiper-slide"><img src="assets/glassdoor.svg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->

  <!--Our Services sec start-->
  <section class="ph-our-service ph-spacer-top">
    <div class="ph-shap-elements">
      <img src="assets/arrow-abstract.svg" class="ph-shap-upDown">
    </div>
    <div class="container">
      <div class="row">
        <div class="ph-heading-title text-start">
          <h1>Our Services</h1>
        </div>
        <div class="d-flex align-items-start">
          <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-12">
              <div class="ph-tab-nav">
                <div class="nav flex-column nav-pills ph-row-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a href="javascript:;" class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mobile App Development</a>
                  <a href="javascript:;" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile">Web Development</a>

                  <a href="javascript:;" class="nav-link" id="v-pills-disabled-tab"                  data-bs-toggle="pill" data-bs-target="#v-pills-disabled" role="tab"                  aria-controls="v-pills-disabled">UI/UX Design</a>

                  <a href="javascript:;" class="nav-link" id="v-pills-messages-tab"                  data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab"                  aria-controls="v-pills-messages">MVP Development</a>

                  <a href="javascript:;" class="nav-link" id="v-pills-settings-tab"                  data-bs-toggle="pill" data-bs-target="#v-pills-settings" role="tab"                  aria-controls="v-pills-settings">Enterprise Solution</a>

                  <a href="javascript:;" class="nav-link" id="dedicated-developers-tab"                  data-bs-toggle="pill" data-bs-target="#dedicated-developers" role="tab"                  aria-controls="v-pills-settings">Dedicated Developers</a>
                </div>
              </div>
            </div>

            <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-7 col-sm-12">
              <div class="tab-content ph-ourService-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <img src="assets/mobile-dev.svg">
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Mobile App Development</h2>
                      <p>A comprehensive out-of-the-box mobile app with the newest technology
                        inclusion is provided by Protonshub a <span>custom software
                          development
                        company,</span> which assembles a team of highly qualified
                        developers and
                        excels at developing cross-platform mobile apps.
                      </p>
                      <ul>
                        <li><a href="javascript:;">Android App Development</a></li>
                        <li><a href="javascript:;">IOS App Development</a></li>
                        <li><a href="javascript:;">Hybrid App Development</a></li>
                        <li><a href="javascript:;">Cross-Platform Apps</a></li>
                        <li><a href="javascript:;">Progressive Web App</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <img src="assets/web-development.svg">
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Web Development</h2>
                      <p>Avail of premium, cost-effective, and structured web apps for your
                        business. Protonshub is a centralized location to fulfill all your
                        web app requirements in the most seamless way.
                      </p>
                      <ul>
                        <li><a href="javascript:;">Website Development</a></li>
                        <li><a href="javascript:;">E-Commerce Development</a></li>
                        <li><a href="javascript:;">Enterprise Solutions</a></li>
                        <li><a href="javascript:;">API Development</a></li>
                        <li><a href="javascript:;">CMS</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <img src="assets/uiux.svg">
                    </div>
                    <div class="ph-our-service-content">
                      <h2>UI/UX Design</h2>
                      <p>We give your product a self-explanatory interface followed by an
                        everlasting user experience. Our experienced team not just provides
                        the best design, but gives you a high scope to increase the
                        conversion rate organically.
                      </p>
                      <ul>
                        <li><a href="javascript:;">Wireframing</a></li>
                        <li><a href="javascript:;">Creative Design</a></li>
                        <li><a href="javascript:;">Logo Design</a></li>
                        <li><a href="javascript:;">Sprint Design</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <img src="assets/mvp.svg">
                    </div>
                    <div class="ph-our-service-content">
                      <h2>MVP Development</h2>
                      <p>Protonshub provides end-to-end MVP services and helps you put all the
                        necessary features in your app to make it ready for its first use.
                        Avail of attractive designs, core features, quality assurance, and
                        many more.
                      </p>
                      <ul>
                        <li><a href="javascript:;">MVP Design </a></li>
                        <li><a href="javascript:;">MVP Consulting</a></li>
                        <li><a href="javascript:;">First-hand MVP Development</a></li>
                        <li><a href="javascript:;">MVP Developers</a></li>
                        <li><a href="javascript:;">Support</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <img src="assets/mobile-dev.svg">
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Enterprise Solution</h2>
                      <p>We give your website a classy look by putting together the expertise
                        of our developers and their creative thinking. We excel in making
                        the user experience of the tour website count to the best.
                      </p>
                      <ul>
                        <li><a href="javascript:;">Code Integrations</a></li>
                        <li><a href="javascript:;">High-end Designs</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="dedicated-developers" role="tabpanel" aria-labelledby="dedicated-developers-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <img src="assets/mobile-dev.svg">
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Dedicated Developers</h2>
                      <p>We are the hub for you to avail one of the top-notch remote dedicated
                        developers for your projects. Our developers are rich in experience,
                        expertise, and excellence and work on the latest industry standards
                        to meet your requirements.
                      </p>
                      <ul>
                        <li><a href="javascript:;">Mobile & Web Developer</a></li>
                        <li><a href="javascript:;">Front-end & Back-end Developer</a></li>
                        <li><a href="javascript:;">DevOps & Blockchain Developer</a></li>
                        <li><a href="javascript:;">Full Stack & CMS Developer</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Services sec End-->

  <!--Most software company sec start-->
  <section class="ph-software-development-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="ph-heading-title text-center ph-software-heading">
            <h1>Most Acclaimed Software Development Company</h1>
            <p>Protonshub is globally recognized as an Innovative IT company with a huge talent pool
              that
              are committed to create a remarkable difference in the Strategy, consulting and
              infrastructure solutions to Startups, SMEs and Enterprises with our class apart
              skill
              sets and ideas.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="ph-software-box">
            <div class="ph-software-inner">
              <h5>Top Rated Software Development Company</h5>
              <p>Our technical prowess, software consulting capabilities, and Software Outsourcing
              experience helped thousands of clients worldwide to excel.</p>
              <ul>
                <li>
                  <h1>5+</h1>
                  <p>Years in Bussiness</p>
                </li>
                <li>
                  <h1>500+</h1>
                  <p>Finish Projects</p>
                </li>
              </ul>

              <h5>Attracting and Retaining Right Talent</h5>
              <p>We build a talented and diverse workforce passionate about delivering swift and
                radical
              changes.</p>

              <ul>
                <li>
                  <h1>80+</h1>
                  <p>Full Time Specialists</p>
                </li>
                <li>
                  <h1>1/3</h1>
                  <p>Talent with Us since 5+ Years</p>
                </li>
              </ul>
            </div>

            <div class="ph-software-inner">
              <h5>Software Development Success</h5>
              <p>We consistently get high scores for our custom software development capabilities.</p>
              <ul>
                <li>
                  <h1>6000+ </h1>
                  <p>Hours of Work in Single Project</p>
                </li>
                <li>
                  <h1>98%</h1>
                  <p>Projects Delivered On-time On-budget</p>
                </li>
              </ul>
              <h5>Meeting Client’s Expectation</h5>
              <p>Through open conversations and radical transparency with clients we have to build
              stronger relationships.</p>
              <ul>
                <li>
                  <h1>3000+</h1>
                  <p>Clients from 5 Continents and 25 Countries</p>
                </li>
                <li>
                  <h1>93%</h1>
                  <p>of Clients return for Additional Projects</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Most software company sec end-->

  <!-- Develop process sec start -->
  <section class="ph-Develop-process">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
          <div class="ph-process-box">
            <h1>Roadmap To Your <span>Custom Software Development</span> Success</h1>
            <p>Protonshub offers its clients first-rate results at every stage of the product
              development process when starting fresh. To give you a smooth software development
              service in USA that is free of errors, we believe in making improvements at every stage.
            </p>
            <div class="ph-process-btn">
              <a href="javascript:;" class="ph-btn">Get Connected <i
                class="fa-solid fa-arrow-right ms-2 "></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="ph-process-img d-flex justify-content-end">
            <img src="assets/process.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Develop process sec End -->

  <!-- Technologies sec start -->
  <section class="ph-technologies-sec">
    <div class="container">
      <div class="col-xxl-10 col-xl-10 col-md-12 col-sm-12 mx-auto">
        <div class="ph-heading-title">
          <h1>Technologies and Platform We Use</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <ul class="nav nav-tabs ph-tech-nav" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link active" id="Design1-tab" data-bs-toggle="tab"
              data-bs-target="#Design1-tab-pane" role="tab" aria-controls="Design1-tab-pane"
              aria-selected="true">Design</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="Design2-tab" data-bs-toggle="tab"
              data-bs-target="#Design2-tab-pane" role="tab"
              aria-controls="Design2-tab-pane">Mobile</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="Design3-tab" data-bs-toggle="tab"
              data-bs-target="#Design3-tab-pane" role="tab"
              aria-controls="Design3-tab-pane">Frontend</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="Design4-tab" data-bs-toggle="tab"
              data-bs-target="#Design4-tab-pane" role="tab"
              aria-controls="Design4-tab-pane">Backend</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="Design5-tab" data-bs-toggle="tab"
              data-bs-target="#Design5-tab-pane" role="tab"
              aria-controls="Design5-tab-pane">Database</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="Design6-tab" data-bs-toggle="tab"
              data-bs-target="#Design6-tab-pane" role="tab"
              aria-controls="Design6-tab-pane">Devops</a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="Design7-tab" data-bs-toggle="tab"
              data-bs-target="#Design7-tab-pane" role="tab"
              aria-controls="Design7-tab-pane">Testing</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Design1-tab-pane" role="tabpanel" aria-labelledby="Design1-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li>
                    <img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li class="landscape"><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>
            </div>

            <div class="tab-pane fade" id="Design2-tab-pane" role="tabpanel" aria-labelledby="Design2-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li><img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>
            </div>

            <div class="tab-pane fade" id="Design3-tab-pane" role="tabpanel" aria-labelledby="Design3-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li><img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>

            </div>
            <div class="tab-pane fade" id="Design4-tab-pane" role="tabpanel" aria-labelledby="Design4-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li><img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="Design5-tab-pane" role="tabpanel" aria-labelledby="Design5-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li><img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="Design6-tab-pane" role="tabpanel" aria-labelledby="Design6-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li><img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>
            </div>

            <div class="tab-pane fade" id="Design7-tab-pane" role="tabpanel" aria-labelledby="Design7-tab" tabindex="0">
              <div class="ph-Technologies-list">
                <ul>
                  <li><img src="assets/adobe-xd.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/figma.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/sketch.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/illustrator.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                  <li><img src="assets/ps.svg">
                    <h6>Web Develop</h6>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Technologies Sec end -->

  <!-- Map counter sec start-->
  <section class="ph-counter-map">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
          <div class="ph-heading-title text-start">
            <h5>Guaranteed Customer Satisfaction</h5>
            <h1 class="mb-3">We Develop, Design, Grow and Prosper</h1>
            <p>With the assistance of a large staff, Protonshub a software development company in USA is
              prepared to produce outstanding outcomes for your project by implementing
              technologically advanced strategies to produce the ideal result for you.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 me-auto">
          <div class="ph-why-choose-grid" id="ph-counter-one">
            <ul class="mt-3">
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-sharp fa-solid fa-mobile-button"></i>
                </div>
                <h2 class="ph-counter-value" data-count="430">0</h2><span> +</span>
                <h3>App Developed</h3>
              </li>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-sharp fa-solid fa-laptop-code"></i>
                </div>
                <h2 class="ph-counter-value" data-count="680">0</h2><span> +</span>
                <h3>Website Designed</h3>
              </li>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <h2 class="ph-counter-value" data-count="175">0</h2><span> +</span>
                <h3>Happy Clients</h3>
              </li>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-solid fa-people-group"></i>
                </div>
                <h2 class="ph-counter-value" data-count="220">0</h2><span> +</span>
                <h3>Team Strength</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Map counter sec end -->

  <!-- client slider start-->
  <section class="ph-our-client-sec ph-spacer-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="ph-boxlogo-shadow">
            <div class="ph-ourClient-logo">
              <div class="swiper ph-mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="assets/colgate.svg"></div>
                  <div class="swiper-slide"><img src="assets/g2-org.svg"></div>
                  <div class="swiper-slide"><img src="assets/henkel-org.svg"></div>
                  <div class="swiper-slide"><img src="assets/stage.svg"></div>
                  <div class="swiper-slide"><img src="assets/mahindra-org.svg"></div>
                  <div class="swiper-slide"><img src="assets/manyvaar.svg"></div>
                  <div class="swiper-slide"><img src="assets/honey.svg"></div>
                </div>
              </div>
            </div>
            <div class="ph-client-shadow">
              <img src="assets/ph-qoute-shadow.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- client slider end -->

  <!-- Get quete form -->
  <section class="ph-get-qoute-sec">
    <div class="container">
      <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto ph-get-qoute-s">
        <div class="row">
          <div class="col-lg-6 ph-contact-bg">
            <div class="ph-contact-details">
              <h4>Connect With Our Experts And Set On A Journey</h4>
              <p>Protonshub is a believer of Coordination with communication and collaboration. Our
                rich industry experience across multiple domains, industries and geographies is our
              base to deliver class apart solution to serve your needs.</p>
              <ul>
                <li>Share Your Idea</li>
                <li>Get Customized Proposal</li>
                <li>Pay Securely</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ph-contact-form">
              <div class="ph-heading-title">
                <h4>Do You Have A Project In Mind?</h4>
                <p>Guaranteed Response within one Business Day!</p>
              </div>
              <form method="post" class="ph-protons-form" action="">
                <div class="row">
                  <ul>
                    <li>
                      <input type="text" name="name" placeholder="Jhon Due" required>
                    </li>
                    <li>
                      <input type="email" name="email" placeholder="Email Id/Skype Id"
                      required>
                    </li>
                    <li>
                      <input type="number" name="number" placeholder="Mobile Number" required>
                    </li>
                    <li>
                      <select class="form-select">
                        <option selected>Select Industry Type*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </li>
                  </ul>
                </div>

                <div class="ph-contact-msg">
                  <textarea name="message" placeholder="Brief About The Project"
                  required></textarea>
                </div>
                <div class="col-md-12 mt-3 text-center d-block">
                  <a href="javascript:;" class="ph-btn ph-contact-btn">Contact Now</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="ph-shadow-back">
          <img src="assets/ph-qoute-shadow.svg">
        </div>
      </div>
    </div>
  </section>
  <!-- Get quete form -->

  <!--  Start ph-testimonials -->
  <section class="ph-testimonials slider-thumbs">
    <div class="container">
      <div class="ph-swiper-slide">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="ph-heading-title">
              <h6>Our testimonials</h6>
              <h1>Our Client's</h1>
            </div>
          </div>
          <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <div class="ph-tesmonial-slider">
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <img src="assets/amine-belkhiria.png" alt="client-img">
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <img src="assets/lex-lightning.png" alt="client-img">
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <img src="assets/mate-andrasi.png" alt="client-img">
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <img src="assets/aleksandar-mishachkovski.png"
                        alt="client-img">
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-container gallery-top">
                <div class="swiper-wrapper text-center">
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Professional Web Development services!
                          We have been working with Protonshub for many years now. They
                          provided reliable solutions
                          for complex web development problems! We love their services and
                          we will continue
                          our cooperation for further product development projects
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Amine Belkhiria</h4>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Protonshub built me a great app, as promised, on time and on
                          budget. The team
                          was very responsive to my needs, able to communicate the
                          technical details of the
                          job easily so that a rookie like me could easily understand the
                          process, and they
                          contributed good ideas and creativity to the final product.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Lex Lightning</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>I have been working on various different projects with
                          professionals from Protonshub. They are
                          not only very reliable, intelligent and get the job done, but
                          for Agile professionals like me they
                          are a Godsend: I hardly need to open them up or bridge cultural
                          gaps - there aren't any! The
                          moment I stated I encourage people to speak up.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Máté Andrási</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>We have used Protonshub on few small project in the past related
                          to SW services for mobile development.
                          I'm happy to say that i was quite satisfied with the quick
                          responses from their side
                          on any and all Question we had related to scope, timeframe and
                          quality of the code.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Aleksandar Mishachkovski</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls-rf">
              <!-- Add Arrows -->
              <div class="swiper-button-next ctrl-circle">
                <span class="icon pe-7s-angle-right"></span>
              </div>
              <div class="swiper-button-prev ctrl-circle">
                <span class="icon pe-7s-angle-left"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End ph-testimonials -->

  <!-- Blog Sec Start -->
  <section class="ph-blog-sec">
    <div class="container">
      <div class="ph-heading-title">
        <h5>Updates & News</h5>
        <h1>Our Latest Blog</h1>
      </div>
      <div class="row">
        <div class="swiper ph-myswiper-slide">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/ph-blog1.jpg" alt="blog-images">
                  </a>
                  <a href="javascript:;" class="ph-blog-date">Categories <i
                    class="fa-solid fa-arrow-trend-up"></i>
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>Jan 05, 2023</h6>
                  <a href="javascript:;" class="ph-blog-title">10 Efficient & Measurable</a>
                  <p>Whether you call them fashionistas or Shopaholics it makes no difference
                  either way! Individuals love..</p>
                  <a href="javascript:;" class="ph-read-more">Read More <i
                    class="fa-solid fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/ph-blog2.jpg" alt="blog-images">
                  </a>
                  <a href="javascript:;" class="ph-blog-date">Categories <i
                    class="fa-solid fa-arrow-trend-up"></i>
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>Jan 05, 2023</h6>
                  <a href="javascript:;" class="ph-blog-title">10 Efficient & Measurable</a>
                  <p>Whether you call them fashionistas or Shopaholics it makes no difference
                  either way! Individuals love..</p>
                  <a href="javascript:;" class="ph-read-more">Read More <i
                    class="fa-solid fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/ph-blog3.jpg" alt="blog-images">
                  </a>
                  <a href="javascript:;" class="ph-blog-date">Categories <i
                    class="fa-solid fa-arrow-trend-up"></i>
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>Jan 05, 2023</h6>
                  <a href="javascript:;" class="ph-blog-title">10 Efficient & Measurable</a>
                  <p>Whether you call them fashionistas or Shopaholics it makes no difference
                  either way! Individuals love..</p>
                  <a href="javascript:;" class="ph-read-more">Read More <i
                    class="fa-solid fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/ph-blog1.jpg" alt="blog-images">
                  </a>
                  <a href="javascript:;" class="ph-blog-date">Categories <i
                    class="fa-solid fa-arrow-trend-up"></i>
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>Jan 05, 2023</h6>
                  <a href="javascript:;" class="ph-blog-title">10 Efficient & Measurable</a>
                  <p>Whether you call them fashionistas or Shopaholics it makes no difference
                  either way! Individuals love..</p>
                  <a href="javascript:;" class="ph-read-more">Read More <i
                    class="fa-solid fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ph-blog-box wow fadeInUp">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/ph-blog2.jpg" alt="blog-images">
                  </a>
                  <a href="javascript:;" class="ph-blog-date">Categories <i
                    class="fa-solid fa-arrow-trend-up"></i>
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>Jan 05, 2023</h6>
                  <a href="javascript:;" class="ph-blog-title">10 Efficient & Measurable</a>
                  <p>Whether you call them fashionistas or Shopaholics it makes no difference
                  either way! Individuals love..</p>
                  <a href="javascript:;" class="ph-read-more">Read More <i
                    class="fa-solid fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/ph-blog3.jpg" alt="blog-images">
                  </a>
                  <a href="javascript:;" class="ph-blog-date">Categories <i
                    class="fa-solid fa-arrow-trend-up"></i>
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>Jan 05, 2023</h6>
                  <a href="javascript:;" class="ph-blog-title">10 Efficient & Measurable</a>
                  <p class="ph-blog-paragraph">Whether you call them fashionistas or Shopaholics
                    it makes no difference
                  either way! Individuals love..</p>
                  <a href="javascript:;" class="ph-read-more">Read More <i
                    class="fa-solid fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Sec end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-9 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Kickstart Your Journey With Us Today!</h1>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">Contact Us Now <i
                class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>