<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <section class="ph-thankyou-sec">
    <div class="container">
      <div class="row">
        <div class="ph-thankyou text-center">
          <%= image_tag "thankyou-icon.svg" %>
        </div>
      </div>
    </div>
  </section>
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>